[2012-04-05 13:18] hawake opened #4 "Link in "Getting help" box in IT version points to EN"
Hi,
as discussed in this mailing list's thread [0], in the "Getting help"("Ottieni aiuto") box of the italian software.o....org the link "Burn CD/DVD Image(s)" ("Masterizza immagine(i) di CD/DVD") points to the english page [1] instead of the italian [2].
Can you please correct it when you have some time?

Thanks for the help!

Bye
hawake

[0] http://lists.opensuse.org/opensuse-translation/2012-04

[2012-04-05 14:44] #4 closed, assigned to nobody

[2012-11-20 20:49] coolo opened #10 "outdated logo"
the old heinlein logo used - see http://en.opensuse.org/Sponsors

[2012-11-22 14:17] coolo opened #11 "NoScript breaks download"
The returned page is empty

[2012-11-27 15:17] digitaltom opened #12 "localization broken for language variants"
for example zh_TW doesn't work

[2012-11-27 15:18] digitaltom opened #13 "Fix capistrano deployment"
... so the static assets get also deployed to static.o.o.

[2012-12-04 09:43] #10 closed, assigned to nobody

[2012-12-04 15:29] #12 closed, assigned to nobody

[2012-12-04 15:33] #11 closed, assigned to nobody

[2013-07-05 07:25] coolo opened #26 "URI component not escaped"
http://software.opensuse.org/download.html?project=devel%3Alibraries%3Ac_c%2B%2B&package=boost

Talks about 'c_c  '

[2013-07-05 09:01] #26 closed, assigned to ancorgs

[2013-07-29 12:22] Tvangeste opened #27 "Package installation instructions for Ubuntu Linux are not working with sudo"
Please be informed that the package installation instructions for the Ubuntu Linux do not work with sudo:

[code]

Even though they don't mention 'sudo', a typical user would invoke them with sudo, and will fail. I had this problem, and some users have it as well. For example:

http://goldendict.org/forum/viewtopic.php?p=10413#p10413

Maybe it makes sense to add some info about sudo to the instruc

[2013-11-05 08:06] machinekoder opened #28 "Software install on Debian based distros not easy enough"
The build service has a feature where it shows instructions how to install
the packages for Debian based distributions. It says for example:
For _Debian 7.0_ run the following as _root_:
For non Linux experienced users running something as root is maybe not that
understandable. It would be better if you integrate the sudo command
directly in the scripts especially since the first command will no e

[2013-11-20 17:51] ghost opened #29 "Opensuse 13.1 NFS-related pacakges missing from software-o-o"
working on new 13.1 installs, a number of nfs-related packages/repos are missing:

@ http://software.opensuse.org/package/nfs-kernel-server?search_term=nfs-kernel-server
    openSUSE 13.1 -- missing

@ http://software.opensuse.org/package/quota-nfs?search_term=quota-nfs
    openSUSE 13.1 -- missing

@ http://software.opensuse.org/package/quota
    openSUSE 13.1 -- missing

@ http://software.opensu

[2013-11-20 20:08] hennevogel opened #30 "Package installation instructions for Arch Linux are broken"
When a user goes to download Arch Linux packages, e.g.:
http://software.opensuse.org/download.html?project=home%3ATvangeste&package=goldendict

 he/she sees a generic icon and missing instructions about how to add this custom repository.

![obs-arch](https://f.cloud.github.com/assets/462680/831777/be57db9e-f211-11e2-94ca-b5aaf4b05e2c.PNG)

It would be nice to have an official Arch Linux icon and s

[2013-11-22 07:50] #29 closed, assigned to ancorgs

[2013-11-27 09:01] mvyskocil opened #31 "Package summary might be updated from time to time"
When searching for pypy I found that there is "This build of PyPy has JIT-compilation disabled, as it is not supported on this CPU architecture.", which is not a true for pypy packages from devel:languages:python:Factory.

Given the fact JIT is the most important feature of pypy, package search should reflect that and update its cache from time to time.

http://software.opensuse.org/package/pypy

[2013-11-27 09:14] #31 closed, assigned to nobody

[2014-01-07 14:58] hennevogel opened #32 "Key import documentation"
The download page points people to import the key of a repository with

apt-key add

without explaining the consequences. People need to be made aware of  what they are doing there.

[2014-01-08 13:25] #30 closed, assigned to ancorgs

[2014-01-08 13:27] #28 closed, assigned to ancorgs

[2014-01-08 13:28] #27 closed, assigned to ancorgs

[2014-01-08 13:29] #32 closed, assigned to ancorgs

[2014-03-11 14:01] ancorgs opened #33 "Fix the management of static files inluded in bento/base.css"
base.css (from bento) should not be included in the compressed css, since it use url() instead of asset-url(), so the included static files should be excluded from digesting. Not a big deal, just a reminder to myself.

[2014-03-12 05:56] ancorgs opened #34 "iframe does not work anymore"
Hello,

Since yesterday the Open Build Service website integration iframe does not work anymore. I have no idea why, because it works using a direct link. The website is:
http://qremote.org/download.php#Download
Direct link is:
http://software.opensuse.org/download/package.iframe?project=home:Strahlex&amp;package=qremotecontrol&amp;fcolor=FFFFFF&amp;bcolor=000000&amp;acolor=FFFFFF

Please help me.

[2014-03-12 07:47] #34 closed, assigned to ancorgs

[2014-03-17 12:48] danimo opened #35 "HTML in Some Items in Download Instructions is Masked When it Shouldn't"
See e.g. http://software.opensuse.org/download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client

`For openSUSE&nbsp;Factory&nbsp;PPC run the following as root:`

or

`Packages for <strong>openSUSE&nbsp;Factory&nbsp;PPC</strong>:`

[2014-03-19 18:49] #35 closed, assigned to nobody

[2014-06-01 00:55] GeraldPfeifer opened #36 "Need to use new SUSE logo"
http://software.opensuse.org/download.html?project=devel%3Alanguages%3Aruby&package=ruby for example uses the old SUSE logo for the SLE image under "Select
Your Operating System".

If you need help locating a proper, current logo, Scott Corfield is your man.

[2014-06-12 08:48] #13 closed, assigned to nobody

[2014-06-19 14:13] k0da opened #39 "Add Ports architectures"
Currently software.opensuse.org offers to download openSUSE only for x86. ARM and POWER ports are become mature enough to be listed there as well...

This increase visibility from outside and makes easier to download "ports" isos

[2014-06-20 09:00] #33 closed, assigned to ancorgs

[2014-06-20 09:01] #36 closed, assigned to nobody

[2014-09-03 09:17] Davidmp1 opened #40 "Main pages translations"
Need for redeployment of main pages in order to include translations to more languages or update them, such as catalan.
Pages:
http://www.opensuse.org/
http://software.opensuse.org/131
http://software.opensuse.org/search

[2014-09-18 07:58] #40 closed, assigned to ancorgs

[2014-09-30 18:17] coolo opened #41 "strange search results"
if you look for dia you get very strange results:
http://s.kulow.org/software-oo

(transfered from https://progress.opensuse.org/issues/3838)

[2014-10-06 14:41] #41 closed, assigned to nobody

[2014-11-19 17:54] darix opened #43 "please change favicon link to use the protocol agnostic links"
[code]

same goes for every other link to static.o.o.

[2014-11-28 09:20] #43 closed, assigned to nobody

[2014-12-09 10:23] hennevogel opened #44 "Copyright Notice in the Footer"
We currently state

*© 2011 Novell, Inc. and others.*

while this is horrible outdated we also make extensively use of http://screenshots.debian.net and it's author @Signum asked that we recognize this somehow.

[2015-06-08 09:30] pmconrad opened #45 "Package download iframe does not work over https"
When the package download URL is accessed as an iframe, for example https://software.opensuse.org/downlo...ckage=namecoin , the page is only available via https but it includes a JavaScript file from a http URL:

```<script src="http://static.opensuse.org/themes/bento/js/jquery.js"></script>```

The browser refuses to load this script, and in consequence the buttons for the different distributions

[2015-06-28 04:54] philton opened #46 "software.opensuse.org 503 Down for Maintenance"
I can't find any maintenance scheduled.

[2015-06-28 07:46] ancorgs commented on #46
It seems to be a problem with the host hosting the mysql databases of opensuse.org. Other opensuse.org sites are affected as well. I can't tell how long it will take.

[2015-06-29 07:19] adrianschroeter commented on #46
it got solved now.

[2015-06-29 07:19] #46 closed

[2015-10-30 13:19] ancorgs commented on #44
Fixed (it only took us one year)

[2015-10-30 13:19] #44 closed

[2015-10-30 14:08] ancorgs commented on #45
fixed in the repo. The new version will be deployed today

[2015-10-30 14:08] #45 closed

[2015-11-12 15:05] k0da commented on #39
It will be great to have for Leap ports listed as well, as separate entry.

[2015-11-20 15:28] Conan-Kudo opened #55 "Add instructions for DNF for Fedora 22+ and Mageia Cauldron (mga 6+)"
With Fedora 22 onward, Yum has been replaced by DNF. While currently `/usr/bin/yum` redirects to DNF, that is optional and not guaranteed to remain in place. Fedora 22+ needs to be appropriately adjusted.

In Mageia Cauldron (the development branch for Mageia), DNF has been added, and [it has been approved as a secondary package manager for Mageia 6](http://meetbot.mageia.org/mageia-dev/2015/magei

[2015-11-21 08:59] ancorgs commented on #55
Can you please provide the exact text you would like to see for those instructions?

[2015-11-21 13:29] Conan-Kudo commented on #55
For Fedora 22+:

For Mageia Cauldron (and eventually Mageia 6 when it arrives):

Incidentally, you guys were missing a comma after `For <distro-name> <release-version>`, which I added above. You should probably fix that across the board.

[2015-11-30 01:41] Conan-Kudo commented on #55
@ancorgs Is it possible to have software-o-o adjusted to produce this information?

[2015-11-30 08:57] ancorgs commented on #55
Of course. I just need to find the time

[2015-11-30 13:42] Conan-Kudo commented on #55
@ancorgs Thank you.

[2016-01-31 08:10] Mailaender opened #56 "AppStore does not find anything anymore"
https://software.opensuse.org/appstore/

[2016-02-12 11:02] michelmno opened #57 "package search UI and obsolete qemu version for PowerPC Tumbleweed"
Hi there,

I discovered some days ago the openSUSE package search UI (1) This is a very nice interface.
Looking for qemu package (2) as an exemple I was surprised by the displayed informations related to openSUSE:Factory: PowerPC (3)

* is there a reason why only ppc and not ppc64, ppc64le ?
* why version 0.12.4 while more recent version available in (4) ?

(1) https://software.opensuse.org/find
(

[2016-04-04 13:28] jbeulich opened #60 "strange error from package search"
Trying to search for any package gives

Error connecting to http://download.opensuse.org/factory/repo/oss/suse/setup/descr/appdata.xml.gz: Response was: #<Net::HTTPNotFound:0x000000067e6c50> <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> <html> <head> <title>404 - Not Found</title> <style type="text/css"> body { font-size: 62.5%; } #container { font-size

[2016-04-04 16:11] ancorgs commented on #60
Thanks for reporting. It's caused by a temporary error in publishing Factory. The missing file will be back in place in the next sync of the FTP tree, so search will work again. Sorry for the inconveniences.

[2016-04-07 07:35] ancorgs commented on #60
The new three is published and, thus, the problem is gone.

[2016-04-07 07:35] #60 closed

[2016-06-11 09:53] marguerite opened #61 "please enter more than 2 characters"
you can't search some infrastructure packages like "go".

[2016-06-23 12:52] Conan-Kudo commented on #55
@ancorgs Any chance this could get worked on soon?

[2016-06-24 14:56] shyukri commented on #55
We will take a look at it :)

[2016-07-06 14:51] mwilck opened #69 "Broken repository links for "official" tumbleweed repositories"
The repo links for the "official release" of tumbleweed offered by
software.opensuse.org seem to be broken.

Example:

http://software.opensuse.org, select tumbleweed, search for any package
("bash", for example).

Click on "Direct Install, openSUSE Tumblbeweed, Version 1.3.1, 1.77
MB"), open with "YaST 1-Click Install, click through following dialogs.

=> Error opening repository at  http://downl

[2016-07-15 12:52] ChrisBr opened #70 "Package search is broken"
http://paste.opensuse.org/33786089

[2016-07-18 07:46] Mailaender opened #71 "404 is not a supported release."
Static pages like https://software.opensuse.org/codecs and https://software.opensuse.org/packages/Multimedia after clicking it twice show it in a red error box.

[2016-07-18 11:20] #70 closed

[2016-07-18 13:36] Mailaender opened #74 "software.opensuse.org is not running code from this repository?"
https://software.opensuse.org/package/evolution

![image](https://cloud.githubusercontent.com/assets/756669/16916394/f7d3b39a-4cfc-11e6-9092-f598e439f5d0.png)

http://localhost:3000/package/evolution

![image](https://cloud.githubusercontent.com/assets/756669/16916419/17402916-4cfd-11e6-93b7-b9293d1d0f7f.png)

The screenshot and install button is missing.

[2016-07-18 13:56] Mailaender opened #75 "AppData is never used"
https://github.com/openSUSE/software-o-o/blob/master/app/views/search/_find_results.html.erb#L71 seems to never hit. The Tumbleweed `appdata.xml` contains the following:

[code]

yet the backfall from RPM

[code]

is always displayed:

![image](https://cloud.githubusercontent.com/assets/756669/16916419/17402916-4cfd-11e6-93b7-b9293d1d0f7f.png)

[2016-07-18 18:48] #55 closed

[2016-07-19 13:32] DimStar77 commented on #75
as discussed on IRC:

[2016-07-19 14:06] #74 closed

[2016-07-19 14:07] Mailaender commented on #74
If you select a distribution you get the button and the missing screenshots are a deployment problem as discussed in IRC:

[code]

[2016-07-20 12:03] Conan-Kudo commented on #55
@coolo @shyukri Mageia Cauldron (and soon Mageia 6+) also needs fixing...

[2016-07-20 14:37] #56 closed

[2016-07-20 14:37] #75 closed

[2016-07-26 12:01] Mailaender opened #82 "KDE screenshots are not shown"
kde.org changed from HTTP to HTTPS and automatically redirects. Our screenshot fetch scripts don't follow those and fail instead. See https://bugs.ruby-lang.org/issues/859 for the upstream problem.

[2016-07-26 12:09] Mailaender commented on #55
Can you post an example download.html link with Mageia?

[2016-07-26 12:40] Conan-Kudo commented on #55
This is one that has Mageia 5: https://software.opensuse.org/download.html?project=home%3APharaoh_Atem%3ADNF_Mageia&package=createrepo_c

Unfortunately, the one that has Mageia Cauldron throws an error: https://software.opensuse.org/download.html?project=home%3APharaoh_Atem&package=hello

[2016-07-26 13:20] Mailaender commented on #55
Sorry, the error is actually my bad. https://github.com/openSUSE/software-o-o/issues/83 should fix everything.

[2016-07-26 13:35] ancorgs commented on #82
This should be easily fixable rescuing the exception in the Screenshot model.

[2016-07-26 13:38] ancorgs commented on #39
Eventually, we would like to redesign the whole front page. Here[1] is the initial call for cooperation (not much feedback) and here a related thread[2].

[1] https://lists.opensuse.org/opensuse-web/2015-11/msg00001.html
[2] https://lists.opensuse.org/opensuse-factory/2016-06/msg00358.html

[2016-07-26 13:40] ancorgs commented on #39
While revamping the front page, we should also integrate https://github.com/openSUSE/software-o-o/pull/52

[2016-07-26 13:43] ancorgs commented on #61
Also reported as https://bugzilla.suse.com/show_bug.cgi?id=930505

[2016-07-26 13:45] ancorgs opened #84 "KDE:Extra repo for Tumbleweed is not searched"
Clone of https://progress.opensuse.org/issues/10490 (to track everything in Github)

[2016-07-26 13:48] ancorgs opened #85 "32bit available for download for Leap"
Clone of https://bugzilla.suse.com/show_bug.cgi?id=953773 (to track everything in Github)

[2016-07-26 13:57] ancorgs opened #86 "Repository Problem"
Clone of https://progress.opensuse.org/issues/8804 (to track everything in Github)

[2016-07-26 14:00] ancorgs opened #87 "No link from software downloads to the OBS project"
Clone of https://progress.opensuse.org/issues/12742 (to track everything in Github)

[2016-07-26 14:13] Mailaender commented on #84
This might be controversial according to @sysrich who isn't a big fan of extra repositories. Where shall we draw the line? Parse some common and trusted repositories or invest the energy into submitting everything to Factory.

[2016-07-26 14:16] sysrich commented on #84
If we have trusted repositories, I think we should have quality standards that apply that trust.

There should be engineering standards, checking of the spec file, at least some technical review of the packages, some QA, and perhaps even legal review.

[2016-07-26 14:42] ancorgs opened #89 "Images in /appstore don't use the assets pipeline"
The images used in https://software.opensuse.org/appstore (those called xxx_box.png) have hardcoded urls. That means they are not using the assets pipeline, thus the paths to the images don't include the digest, thus they do not work in production.

It is working now just because I manually symlinked the diggested images to the non-diggested names after deploying. But we need to fix it properly in

[2016-07-26 14:43] coolo commented on #89
I tried during the workshop, but it opened a can of worms - there is .scss with a huge copy&paste blob of compressed css. So I checked if /appstore is used at all and found about no use and kind of lost the motivation :)

[2016-07-27 23:45] Ana06 commented on #61
It appear a message that tells you: _Please enter more than 2 characters_ and do not search automatically

![image](https://cloud.githubusercontent.com/assets/16052290/17196260/987b22e8-5463-11e6-9750-38321c1aecc4.png)

But if I click search, it works with two characters:

![image](https://cloud.githubusercontent.com/assets/16052290/17196294/cfb5bb38-5463-11e6-9768-fe15f3396098.png)

Anyway, I'll

[2016-07-27 23:52] Ana06 opened #90 "Do not add " " to the search field"
Sometimes `" "` is added to the search field. For example if you introduce `ss` and click search.

![image](https://cloud.githubusercontent.com/assets/16052290/17196531/c0eb421a-5465-11e6-8af5-992898a7e2c1.png)

[2016-07-28 08:18] coolo commented on #61
but it still won't find go - so it's pretty useless to actually allow ;(

[2016-07-29 00:42] Ana06 commented on #61
I can't find `go` but I can find `mc` and `eb`, so It is not true that it is neccesary to enter more than 2 characters. :confused:

![image](https://cloud.githubusercontent.com/assets/16052290/17234106/da51e9c2-5535-11e6-8113-17d18ccf3789.png)
![image](https://cloud.githubusercontent.com/assets/16052290/17234116/f0732662-5535-11e6-8fab-9f71c108ff61.png)

[2016-07-29 07:58] #61 closed

[2016-07-30 00:33] Ana06 opened #93 "go is not found"
Find out why go is not found.

![image](https://cloud.githubusercontent.com/assets/16052290/17266863/fbc5580a-55fd-11e6-89b3-a7a682f2f1c8.png)

[2016-08-06 13:45] Mailaender opened #95 "Links show up as escaped HTML tags"
![image](https://cloud.githubusercontent.com/assets/756669/17457080/d4ddb81e-5bec-11e6-8a2a-be9c1753d505.png)

[2016-08-06 14:41] coolo commented on #95
depending on where the data is from, that's actually a good thing

[2016-08-06 14:50] Mailaender commented on #95
Indeed, but why do we convert text files from https://build.opensuse.org/package/show/devel:tools/bats into HTML links and then escape those. That is total nonsense.

[2016-08-07 07:42] coolo commented on #95
Well, if we converted the text, I'm fine with trusting the outcome.

[2016-08-08 00:03] Ana06 opened #96 "Add RuboCop"
Can I add [Rubocop](https://github.com/bbatsov/rubocop) to the project?

There are many trailing whitespaces. :confounded:

[2016-08-08 08:16] coolo commented on #96
If just that would be the worse problem - but if you feel like it, go ahead

[2016-08-21 09:33] Mailaender opened #99 "Screenshots don't update"
https://software.opensuse.org/package/MozillaFirefox still shows the terrible Windows XP screenshot although I forwarded a fix to Factory a long time ago. Maybe refresh the cache more often?

[2016-08-27 09:42] Mailaender opened #100 "openSUSE Tumbleweed is listed as Unsupported distribution"
For packages like https://software.opensuse.org/package/openrct2 which aren't submitted to Factory, it hides openSUSE Tumbleweed (show more) under unsupported distribution. It should instead show it by default as I browse the site from a Tumbleweed installation.

[2016-08-30 14:41] #82 closed

[2016-08-31 08:31] ancorgs commented on #99
Right now we have not set a expiration time for the cache of the screenshots. That means they don't get refreshed until the next re-deploy. I deployed 5 minutes ago, so your terrible Windows XP screenshot should be gone. :-)

[2016-09-15 12:06] IlyaIndigo opened #103 "openSUSE Tumbleweed MariaDB package."
https://software.opensuse.org/package/mariadb tab for Tumbleweed shows a very old package 5.5.29, with broken links.

[2016-09-15 12:09] coolo commented on #103
software.oo is broken for Tumbleweed in general

[2016-09-27 18:30] rloutrel opened #107 "Generated documentation should be updated to suggest removing old weak keys"
I am talking about the documentation generated, like [here](https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client)
# Context:

After [this](https://github.com/owncloud/client/issues/5055?_pjax=%23js-repo-pjax-container#issuecomment-249445576) problem has been fixed, I had to remove the obsolete weak Key for [this](http://download.opensuse.org/repositor

[2016-09-29 12:20] FriendFX opened #108 "Publish release keys using a secure protocol"
Forgive me if this doesn't belong here, but I noticed that all the Debian and Ubuntu `apt` keys seem to be published through `http://download.opensuse.org/repositories/...`, i.e. the insecure HTTP protocol.

While every package could provide their keys using their own (secure) download location (as suggested for the `owncloud-client` package as an example [here](https://github.com/owncloud/ownclou

[2016-09-30 19:17] rloutrel opened #109 "Encourage users to verify that obsolete repositories have been removed"
A lot of users of the owncloud repository (but certainly relevant for all of the projects which have migrated to the opensuse solution) are using the documentation from the new repository when their configuration is still referencing the old repository.

I only know debian-like world (and the /etc/apt/source.list.d/xxx files) but I assume, that the same problem may impact other distributions.

The

[2016-10-12 05:42] Mailaender commented on #71
Seems to be gone now.

[2016-10-12 05:42] #71 closed

[2016-10-17 05:14] Mailaender opened #112 "Case sensitivity issues with packages cause issues"
https://software.opensuse.org/package/Maelstrom which is an antiquated, unsupported 404 link of an openSUSE 11.1 package is favored over the current https://software.opensuse.org/package/maelstrom which is enhanced by valid AppData https://build.opensuse.org/request/show/430033 and now has a screenshot, but a missing description.

![image](https://cloud.githubusercontent.com/assets/756669/19425987

[2016-10-30 18:18] mrmazda opened #114 "every package available in standard or optional repos is not discoverable via https://software.opensuse.org/search"
Downstream bug:
https://bugzilla.opensuse.org/show_bug.cgi?id=930505
Downstream 458.46 KB, image/png 995px by 3131px:
https://bugzilla.opensuse.org/attachment.cgi?id=699975

To reproduce:
1-load https://software.opensuse.org/search in rv45 Firefox ESR or rv49 SeaMonkey
2-ensure Show development, language and debug packages & Show distribution are enabled
3-type mc into the search box
4-click on se

[2016-10-30 19:36] ancorgs commented on #114
But it works as expected if "show development, language and debug packages" is not marked

[2016-10-30 20:05] mrmazda commented on #114
I tried both ways (with or without show...) several times in different browsers on different openSUSE installations. Always midnight commander was absent from the results. One way suggested on the [opensuse] mailing list works: (unintuitively) wrapping mc in quotes.

[2016-10-31 08:53] mrmazda commented on #90
cf. #114 where incomplete results are returned unless quotes are added to search string mc

[2016-11-04 11:16] catap opened #116 "Wrong CentOS 6 download page"
Good day!

Automatical download page for Cento6 distributive contains errors:
 - icon: Unknown
 - steps to install: ?

Example available here: https://software.opensuse.org/download.html?project=isv%3Adatadome&package=nginx-datadome

Can you please fix it?

[2016-11-19 16:57] Mailaender commented on #116
Works nice for https://software.opensuse.org/download.html?project=games:openra&package=openra so you might have (mis)configured the CentOS 6 repo in some way which irritates the download page generator.

[2016-11-21 13:36] sknorr commented on #93
Fwiw, I reported a very similar bug at https://bugzilla.suse.com/show_bug.cgi?id=984659 . Should I close that?

[2016-11-21 13:54] ancorgs commented on #93
Yes, please. Add the information about dia here and close the bugzilla counterpart. Thanks

[2016-12-19 15:32] msmeissn opened #119 "Display GPG key of repository"
Can we somehow display the GPG key of repositories for users?

So they can easily verify they are getting the correct repository and not some man.-in-the-middle attacked one?

This would be in /repodata/repomd.xml.key

Should display of both the full ascii armored and also the fingerprints as shown by the YAST import dialog. @adrianschroeter

[2016-12-19 15:34] mlschroe commented on #119
That wouldn't help against a man-in-the-middle attacked software.opensuse.org...

[2016-12-19 15:34] msmeissn commented on #119
it is currently already https enabled.

[2016-12-26 15:24] guoyunhe commented on #100
The problem is that Tumbleweed has been merged to Factory. So now Factory is Tumbleweed. Those old builds for Tumbleweed is thus out-dated. The unsupported Tumbleweed is indeed "unsupported".

The reason why you cannot see builds for openSUSE Tumbleweed is that "games" development project doesn't add openSUSE Factory as a build target.

The solution is to ask "games" team add openSUSE Factory supp

[2017-01-02 08:47] coolo commented on #100
no, the project setup is fine. openSuSE:Tumbleweed builds against openSUSE:Factory and as such the basedistri should be TW/Factory

[2017-01-14 16:43] guoyunhe commented on #100
Update of situation:

https://software.opensuse.org/package/minetest

**Oneclick Install** links have been removed for "unsupported" Tumbleweed. And public repositories of "unsupported" Tumbleweed have beem removed, too. This means users cannot install "games" package easily on openSUSE Tumbleweed. Users who already installed games packages cannot update them. The only way is to download RPM packa

[2017-01-14 18:43] Mailaender commented on #100
Nope, simply submit more to Factory to get an official download link. See https://build.opensuse.org/request/show/449742 for the state of the review.

[2017-01-14 22:46] guoyunhe commented on #100
The fact is:

1. Factory won't accept all packages in games
2. It takes a long time to make all packages on Factory.
3. The problem of "games" project is not solved at all.

This is not only the minetest package, but all packages in "games".

All other development projects build for openSUSE_Factory. Why can't "games"?

[2017-01-15 06:44] Mailaender commented on #100
Because https://en.opensuse.org/Games is a user repository you add to gain access to more packages. It should always build against stable repositories. Other development projects are solely a testing ground where all packages have been submitted to `openSUSE_Factory` and it just serves as a test stage to check if larger updates don't introduce unforeseeable trouble.

Also https://build.opensuse.or

[2017-01-15 07:40] guoyunhe commented on #100
Not only development project, almost all user projects build for openSUSE Factory. "games" is the only project that games can go. People contributed to it, since they love open source game, but in return, they can't play games they packaged. That is sad.

Everytime a new distribution was released, a project need to rebuild. So it is not impossible or unacceptable. Even it would take a long time, i

[2017-01-15 07:58] Mailaender commented on #100
I still think the bug in the Ruby on Rails web interface should be fixed rather than the configuration changed to workaround it. Patches to this repository are welcome by the way.

[2017-01-15 08:04] guoyunhe commented on #100
I agree but nobody knows when this would be fixed. However, we cannot just wait and leave all Tumbleweed gamers helpless. It is better to provide a quick solution.

[2017-01-15 09:36] guoyunhe opened #120 "Appdata download errors on local server"
Error message:
[code]

System download 'appdata-factory.xml.gz' and extract it but still name it as 'appdata-factory.xml.gz'. So system cannot find 'appdata-factory.xml' it wants.

[2017-01-15 09:41] Mailaender commented on #100
Go and fix it yourself then. You can join the IRC channel #opensuse-buildservice or #opensuse-factory on FreeNode if you need help.

[2017-01-15 11:11] guoyunhe commented on #100
See pullr equest #121. I have no knowledge of Ruby and Rails. But it seems work. Unexpected side effects may occur.

[2017-01-15 23:11] cboltz commented on #84
software.o.o/search lists packages from all repos - if you click the "show unstable packages" link even from home repos.

OTOH, it sometimes fails to find some packages (we have more than one reports like this), which I'd call a bug. Feel free to hide those repos behind the "show unstable packages" link, but please don't argue with "political" reasons that you don't want to fix this bug ;-)

(CC @

[2017-01-30 13:37] guoyunhe commented on #100
Could someone review the pull request #121 ?

[2017-01-30 17:53] Mailaender commented on #100
Sorry, I don't have write access to this repository.

[2017-02-04 04:15] fusion809 opened #122 "Erroneous installation instructions provided for Mageia 5"
Hi,

The download page provided for Mageia 5 packages in the OBS is erroneous. Presently for my Vim package (you can view the exact download page [here](https://software.opensuse.org/download.html?project=home%3Afusion809&package=vim)) the installation instructions provided are (running the following as root):

[code]

the first of these commands fails returning the error:

[code]

the correct ins

[2017-02-08 10:52] msmeissn opened #123 "enable https for download.opensuse.org"
Darix has deployed https on download.opensuse.org

We could now start handing out https urls to download.opensuse.org from software.o.o.

Can you enable that?

[2017-02-08 10:53] msmeissn commented on #123
@darix

[2017-02-08 13:04] lnussel opened #124 "enable 42.3"
42.3 is rolling, enable it's download by just linking to the current iso, e.g.
http://download.opensuse.org/distribution/leap/42.3/iso/openSUSE-Leap-42.3-DVD-x86_64-Current.iso

[2017-03-01 08:35] #100 closed

[2017-03-01 08:35] #120 closed

[2017-03-02 02:19] sergiomb2 commented on #87
I think I explained more or less , after googling for some rpm, google give me the link of donwload page [1] , but in download page I don't have anyway to go back to the home page (of the project) which have much more information about the rpm. A link in top for home the project is all I want where is write home:p_conrad on the top of the detail page.

[1] https://software.opensuse.org/download.ht

[2017-03-06 09:46] #124 closed

[2017-03-07 13:24] lnussel opened #131 "fishy locale switching"
app/controllers/application_controller.rb does some magic to set the locale according to installed ones. That doesn't really work if the requested locale is e.g. de_DE instead of just de. In general the mechanism must be fixed to deal with both variants.

Additional challenge is that /usr/lib64/ruby/gems/*/gems/gettext_i18n*/lib/gettext_i18n_rails/action_controller.rb stores previous values in the

[2017-03-07 13:28] lnussel commented on #131
https://www.gnu.org/software/gettext/manual/html_node/Locale-Names.html

[2017-03-07 13:42] lnussel commented on #131
compare

	$ curl -s --header 'Accept-Language: de;q=0.8,en-US;q=0.5,en;q=0.3' \
	http://software.opensuse.org/distributions|grep h1

vs

	curl -s --header 'Accept-Language: de-DE,de;q=0.8,en-US;q=0.5,en;q=0.3' \
	http://software.opensuse.org/distributions|grep h1

[2017-03-07 17:06] elchevive opened #132 "Translation issues"
Hi,

Some strings are difficult to translate because they split the sentence with no translatabe parts, like this:

https://github.com/openSUSE/software-o-o/blob/master/app/views/distributions/_unsupported_live_media.html.erb

<%= _('Unsupported') %> LiveUSBs

Only the unsupported is translated but, for example, in pt_BR the
order in the sentence is inverse:

translation right now: Não suportados

[2017-03-09 08:19] Mailaender opened #133 "Appstore doesn't show entries anymore"
https://software.opensuse.org/appstore has empty categories now.

[2017-03-16 09:27] plater opened #135 "The package search page displays Leap:42.1 packages first."
Leap:42.2 is getting old and the search page still starts with 42.1 and you have to physically select "select other versions" (which displays in a very light grey in my browser) to see Leap:42.2.

[2017-03-20 17:41] ramaxlo commented on #132
I also encountered such issue. A non-complete paragraph makes translators hard to arrange positions of words to meet grammar of target language. Please use a complete paragraph as the basic translation unit.

[2017-03-25 17:40] guoyunhe opened #137 "1-click install link point to PowerPC"
http://software.opensuse.org/package/nsis

Tumbleweed -> devel:tools -> 1-click install

This link point to openSUSE Factory PowerPC, not Tumbleweed/Factory.

[2017-04-15 18:29] EagleScreen opened #138 "Spanish translation issue"
The word "Origen" referred to link for download source code is not a good translation for Spanish. I think it comes from "Source". A proper translation for "Source" in this context would be "Fuente" or "Código" if we need to use a single word.
![screenshot_20170415_185427](https://cloud.githubusercontent.com/assets/2446961/25065940/fba12cae-2218-11e7-85d0-c38781648439.png)

[2017-04-25 14:24] hennevogel opened #139 "Drop PromoDVD"
There is an `order` route that we don't use any more. drop it and all associated code.

[2017-04-25 14:25] hennevogel opened #140 "Drop codes"
There is a `codecs` route that we don't use any more. Drop it and all associated code

[2017-05-13 08:00] mwendwa5 opened #145 "Error 503 - down for maintenance"
The site software.opensuse.org is down for maintenance?

[2017-05-14 02:47] lingfish commented on #145
Yep, has been for me for 24+ hours now.

[2017-05-14 07:10] coolo commented on #145
Part of https://lists.opensuse.org/opensuse-announce/2017-05/msg00000.html I'm afraid

[2017-05-14 07:10] #145 closed

[2017-05-18 11:52] lnussel commented on #139
As we found yesterday the HA proxy uses that route for testing whether the app is up. Need to tell infra what to use instead.

[2017-05-18 11:54] lnussel commented on #138
Translations are done via weblate. Mind logging in there and fixing the translation right away?

https://l10n.opensuse.org/translate/software-o-o/master/es/?checksum=f31bbdd1b3e85bccd652680e16935819

[2017-05-18 12:20] lnussel opened #148 "move distributions to main page"
The /distributions controller needs to be made default

[2017-05-18 15:55] hennevogel commented on #140
this is deployed now

[2017-05-18 15:55] #140 closed

[2017-05-24 23:05] guoyunhe opened #151 "New UI theme"
Hello, I am making a new UI theme for openSUSE sites. It is based on Bootstrap 4 and applied openSUSE design guidelines. https://github.com/guoyunhe/chameleon

Here are already some page demos. If you would like to add it to software.opensuse.org , I can make a pull request later.

[2017-05-25 07:27] murshid1988 commented on #151
I like it. But I could see only https://guoyunhe.me/demo/chameleon/test/software-package.html

https://guoyunhe.me/demo/chameleon/test/software-download.html and
https://guoyunhe.me/demo/chameleon/test/software-search.html are not loading properly

[2017-05-26 06:50] guoyunhe commented on #151
@murshid1988 the other two links are broken since the server hasn't been updated for a long while. I will fix it soon!

[2017-05-27 10:02] shyukri commented on #133
Atm it is working fine. Maybe some temporary glitch occurred?

[2017-05-27 10:48] Mailaender commented on #133
Actually screenshots are still gone except some few exceptions like https://software.opensuse.org/package/monodevelop where cache might provide an old page and there are still no categories. As the GNOME Software also displays nothing, I assume someone broke the appdata.xml provided by the @openSUSE mirrors.

[2017-05-27 10:58] Mailaender commented on #103
Duplicate of https://github.com/openSUSE/software-o-o/issues/100 that seems to be fixed now.

[2017-05-27 11:04] Mailaender commented on #133
Checking both
http://download.opensuse.org/tumbleweed/repo/oss/suse/setup/descr/ and https://github.com/openSUSE/software-o-o/blob/master/app/models/appdata.rb I can't find an obvious URL or filename change. Not sure what causes the breakage.

[2017-05-28 15:54] murshid1988 commented on #151
@guoyunhe  Cool. Lemme know when you fix it.

[2017-06-07 13:50] Ana06 commented on #138
There it already appears as _Código fuente_ which is a proper translation. So we can close this issue. :wink:

[2017-06-07 13:50] #138 closed

[2017-06-07 13:51] Ana06 commented on #96
This was fixed in https://github.com/openSUSE/software-o-o/pull/136

[2017-06-07 13:51] #96 closed

[2017-06-07 19:19] probonopd opened #153 "Show AppImages for download and make searchable"
Now that [OBS builds AppImages](http://git.io/obs-ai), it would be great if they could be shown for download too.

![AppImage Download](https://user-images.githubusercontent.com/2480569/26896835-8d1fba52-4bc6-11e7-96c0-5c41e21c8cb3.png)

Also, it would be good if there was a way to specifically search for AppImages.

This feature request is in the context of [@sysrich's ideas](https://cdn-standard

[2017-06-14 07:18] Vogtinator opened #163 "Wrong LiveUSB/LiveCD page"
Contrary to what is stated in several paragraphs on the page, LiveCDs *are* in fact installable.

There are also various remains of gettext calls visible:

Link: https://software.opensuse.org/distributions/tumbleweed/unsupported

Also, the URL is IMO wrong. If the URL refers to "unsupported", it should list all unsupported media and not just live USBs, which the title implies. It should be https:/

[2017-06-16 13:16] Garbee opened #167 "Same width logos for headers"
The logos on the index are not the same width which has odd rhythm, as noted on [reddit](https://www.reddit.com/r/openSUSE/comments/6hkr45/softwareopensuseorgs_new_design/diza5lo/?st=j3zvj81j&sh=7c641952). To solve this in `app/views/distributions/index.html.erb` on lines 26 and 32 the `link_to` calls need to add a class to the anchors. Say `.app-logo` for example. This should then be defined in t

[2017-06-19 16:00] sknorr opened #168 "Add package search bar back to the homepage"
In the current state of the redesigned s.o.o, you have to click on Package Search (very top, far right) before you get to the package search bar.

It is a bit irritating to me that the functionality that I use this page for most has been demoted quite so much. (This is written of course from the perspective of someone already using openSUSE. The new homepage is probably clearer for people just dow

[2017-06-19 16:49] sknorr commented on #93
This seems to be a dupe of #114 ...

[2017-06-20 09:45] Ana06 commented on #93
@sknorr

Seems so :wink:

[2017-06-20 11:16] hennevogel commented on #148
Done in #158

[2017-06-20 11:16] #148 closed

[2017-06-20 12:20] #93 closed

[2017-06-29 09:26] asmorodskyi opened #169 "software-o-o shows unfiltered and unformated errors from OBS"
When OBS is in trouble and throwing 5** errors search in software-o-o will return pure error from OBS and show it to user in xml format.  This is confuse user also this potentially may leak some data useful for attackers

Expected : software-o-o should detect 5** from OBS , output OBS unformatted message into internal log and show user standard message "Search is not working. Try again later " ( o

[2017-07-01 23:32] wsxy162 commented on #69
If the repository doesn't exist, why "Direct Install" button still shows a official version, where did it get the info?

[2017-07-05 16:34] probonopd opened #171 "[AppImage] make searchable"
Issue/Feature description
====================

It would be useful if there was an easy way to search for AppImages on OBS.

(continuation from https://github.com/openSUSE/open-build-service/issues/3303#issuecomment-313154784)

Expected result
============

Being able to search for specific or all (if empty search term entered) AppImages on OBS.

How to Reproduce
===============
1. When I want to

[2017-07-05 16:35] probonopd opened #172 "[AppImage] Provide download page"
(continuation from https://github.com/openSUSE/open-build-service/issues/3302)

Issue/Feature description
====================

It would be nice if OBS would provide download links for AppImages too, like for other package types.

![](http://openbuildservice.org/help/manuals/obs-best-practices/images/download_page_screenshot.png)

Expected result
============

http://software.opensuse.org/download

[2017-07-15 13:54] Mailaender opened #174 "OBS Backend not available"
https://software.opensuse.org/search seems to be completely down now. Was there an API change?

[2017-07-16 10:51] Mailaender commented on #174
Seems to be fixed now.

[2017-07-16 10:51] #174 closed

[2017-07-16 11:49] Mailaender commented on #133
@DimStar77 can you give some insights here? Have file locations or data models changed? Why are 3 year old appdata.xml files hosted and packaged via https://github.com/DimStar77/openSUSE-appstream/tree/master/appdata-extra/desktop instead of using the ones the packages supply?

[2017-07-17 10:30] DimStar77 commented on #133
That repo is not really needed for anything that has an appdata,xml int he package -we run appstream-builder over all RPMs and extract appdata.xml from them as always.

https://gs-stats.opensuse.org also inspects this data and still sees the right amount of data in there - and gnome-software shows them (if not, killall gnome-software; gnome-software - there is a bug in it not reloading metadata if

[2017-07-17 10:31] DimStar77 commented on #133
@tampakrap were there any infra changes? can the sofware.o.o machine reach download.o.o and get the files needed (incl. mirror redirects?)

[2017-07-27 12:22] lnussel commented on #151
merged in the new_design_2017 branch now, thanks!

[2017-07-27 12:23] lnussel commented on #151
I only get the fallback screenshots though, anything special needed to set up the real screen shots?

[2017-07-27 12:24] z3ntu opened #180 "Improve instructions for Arch Linux"
Currently the instructions tell the end user to add the line `SigLevel = Never` to their pacman.conf for the OBS repository. This isn't necessary as OBS packages are signed by a key stored inside the repository (e.g. `hardware_razer_Arch_Extra.key` for the package `openrazer-meta`). The key [has to be imported into the pacman keyring](https://wiki.archlinux.org/index.php/Pacman/Package_signing#Add

[2017-07-27 12:24] lnussel commented on #168
will be fixed by #151

[2017-07-27 12:24] #168 closed

[2017-07-27 12:57] guoyunhe commented on #151
I think not. `app/model/screenshot.rb` should fetch screenshots as it does before.

[2017-07-27 15:13] lnussel commented on #151
was broken before #181

[2017-07-27 15:15] lnussel commented on #151
So after playing with it I think it would be better to hide all the "experimental" and "community" packages by default. Also, I think the unsupported distributions shouldn't be red but something non-obvious, like grey

[2017-08-03 12:07] lnussel commented on #151
Guo, any chance to add a button there that needs to be pressed before the "unsupported" distros are shown?

[2017-08-03 12:25] guoyunhe commented on #151
@lnussel I think it is easy to do. I will do it tonight.

[2017-08-03 12:50] lnussel commented on #151
eh, only half of brain active when writing :) I mean have a button to not show experimental and community packages.

[2017-08-06 11:01] wsxy162 opened #185 "Chose a better description name for x86_64 arch"
Now on these two pages of opensuse.org
[Get openSUSE Leap](https://software.opensuse.org/distributions/leap)
[Get openSUSE Tumbleweed](https://software.opensuse.org/distributions/tumbleweed),
the description name for x86_64 architecture is "Intel 64-bit". I don't like this description name.
As we know this architecture was first come out with the name "AMD64" by AMD, so there is also many Linux/BS

[2017-08-06 11:10] guoyunhe commented on #185
Agree. According Wikipedia, they call this x86-64 or x86_64 without vendor name. I think add a vendor name here is unnecessary.

In addition, isn't AMD sponsoring openSUSE? :thinking:

[2017-08-10 09:45] lnussel opened #186 "":sl is not a valid locale" when using language order in Firefox with Slovene language being first one"
copying https://progress.opensuse.org/issues/20360

Setting up firefox to use 'sl' as locale make software.o.o show an error.

[2017-09-15 10:55] sualko opened #190 "https redirects to http for download.opensuse.org"
Hi guys,

I am not sure if this is the right place for issues or questions about download.opensuse.org, but I give it a try.

If download a key from [this url](https://download.opensuse.org/repositories/network:messaging:xmpp:dino/xUbuntu_17.04/Release.key) I get redirected to a [http url](https://download.opensuse.org/repositories/network:messaging:xmpp:dino/xUbuntu_17.04/Release.key). I think th

[2017-09-15 11:27] sualko commented on #190
Addionally if I follow the [instruction to add the dino repo](https://software.opensuse.org/download.html?project=network:messaging:xmpp:dino&package=dino) I get an error from apt:

[code]

If I change the url in my sources file from https to http everything works fine.

[2017-09-15 22:19] tampakrap opened #191 "Do not raise 404 when appstream data is not found"
We had two irrelevant incidents these days (one is the download.o.o outage, the second is https://github.com/hughsie/appstream-glib/issues/190) where appstream data did not exist. Then software.o.o raises a 404 that is shown to the page. Instead of that, it could either print a more useful message (eg appstream data not found) or use a cached version of appstream data. The buggy code is at app/mod

[2017-09-17 18:42] MetaiR opened #192 "is search down"
hello,

I'm getting 404 in `https://software.opensuse.org/search` for several days, even for famous things like java.

is it down?

![image](https://user-images.githubusercontent.com/7807264/30523823-a9a99422-9bfd-11e7-94db-ecf02997cf21.png)

[2017-09-18 15:43] bmwiedemann commented on #192
https://software.opensuse.org/search?utf8=%E2%9C%93&q=java&search_devel=false&search_unsupported=false&baseproject=ALL
seems to be back working here

[2017-09-18 15:43] #192 closed

[2017-09-18 19:34] MetaiR commented on #192
i'm so glad to hear it, but do you know what was the problem?

[2017-09-18 19:57] bmwiedemann commented on #192
Might have been hickups from the recent download.o.o problems.
Maybe @hennevogel knows.

[2017-09-20 16:53] LinAGKar commented on #186
I'm getting the same thing with the 'sv' locale. Reported here: https://bugzilla.opensuse.org/show_bug.cgi?id=1049020

[2017-09-25 12:28] Vogtinator commented on #163
Ping.

[2017-09-25 13:00] guoyunhe commented on #163
Hi @Vogtinator

This will be changed in next big update. Here is a new website design on the way. Page structures was changed. LiveCD will have a new tab in download page. It will be mentioned as "unsupported" but no "They cannot be used to install..." anymore.

[2017-09-25 13:08] Vogtinator commented on #163
Ok, good to know, I'm looking forward for the update.
Thanks for your work!

[2017-09-25 19:18] jnweiger commented on #123
Should that fix https://bugzilla.opensuse.org/show_bug.cgi?id=1060231 ?
Thanks!!

[2017-09-25 19:26] darix commented on #123
no. this actually broke it. as we learned apt doesnt like downgrading. and mirrorbrain doesnt track https status for mirrors yet. and i am not sure how many of our mirrors actually support https.

[2017-09-25 19:33] jnweiger commented on #123
Yes, apt is corrent, downgrading diring redirect is a no-no. Ubuntu and Debian users can no longer install from OBS now. Please fix!
If a mirror does not support https then this should be fixed (or not used for Ubuntu/Debian URLs).

[2017-09-26 05:07] msmeissn commented on #123
Given our mirror infrastructure where almost all hosts do not support https ... I guess I need to roll this back.

[2017-09-26 05:08] msmeissn commented on #123
@jnweiger as @darix said, i just added more https -> http paths here. :(

[2017-09-26 13:24] jnweiger commented on #123
@msmeissn reverting means start with http, and remain with http?
I am not sure  it helps in this case:

[code]

[2017-09-26 13:42] darix commented on #123
your example is trying to use a https url which leads to a http downgrade. we are working on it.

[2017-09-26 13:45] darix commented on #123
for the time being you could advise people to change the url from http to https for now.

[2017-09-26 13:52] jnweiger commented on #123
How can we change the instruction on software.opensuse.org ? I believe, we can not.

[2017-09-26 13:52] darix commented on #123
that is something we have to do

[2017-09-26 14:18] msmeissn commented on #123
which page?

[2017-09-26 14:42] jnweiger commented on #123
e.g. https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client

I'd like to add comments there, or overwrite the standard instructions where they are inconsistent.
Mabye a _download_instructions file in the package, or something.

[2017-10-02 10:36] jnweiger commented on #123
[code]

@hennevogel this should have been fixed byou your #193 hack, no?

[2017-10-02 10:41] darix commented on #123
what he changed was that the information shown on https://software.opensuse.org/ no longer list https for deb based distros. we can not fix any repositories added already.

[2017-10-02 11:49] jnweiger commented on #123
@darix I believe the fix only covers half of it. https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client
advertises
[code]
that still is a redirect from https to http.

I'll have to investigate, where we got the `.../Debian_9.0/InRelease` thing from.

[2017-10-02 12:07] darix commented on #123
no this is all correct. the really important bit is:

[code]

key retrieval via https is the biggest reason why we added https

[2017-10-02 12:35] jnweiger commented on #123
https://software.opensuse.org//download.json?project=isv%3AownCloud%3Adesktop&package=owncloud-client
produces a json equivalent -- there is more https where henne's gsub() dows not catch it:
[code]

[2017-10-02 14:31] jnweiger commented on #123
This issue also affects openSUSE:

Tested under `docker run -ti opensuse:42.3 bash`:
[code]

[2017-10-20 09:02] z3ntu commented on #180
@ Maintainers:
Would you accept a pull request if I did one? I also have a few other UX suggestions.

[2017-10-20 09:06] hennevogel commented on #180
@z3ntu why wouldn't we? :-)

[2017-10-20 09:07] z3ntu commented on #180
@hennevogel I'm not sure how this project works and some projects (that live on GitHub) just reject everything. Good to know :)

[2017-10-22 10:08] probonopd commented on #171
Example:

Searching for "dsremote" returns nothing
![dsremote](https://user-images.githubusercontent.com/2480569/31860864-c325dbb0-b721-11e7-9b16-22f58359d10a.png)

But here it is:
http://download.opensuse.org/repositories/home:/probono/AppImage/DSRemote-latest-x86_64.AppImage.mirrorlist

[2017-10-23 21:20] cboltz commented on #186
We got some more reports about this via admin@o.o.

A quick search at least brought up:

* `"be-BY" is not a valid locale` - https://progress.opensuse.org/issues/23344
* `:repositories is not a valid locale` - https://progress.opensuse.org/issues/25830 - needless to say that the error message is at least correct in this case because "repositories" really isn't  a locale ;-)
* and probably some mor

[2017-10-25 08:52] bittin opened #197 "Bug in Firefox, Chrome, Edge, Windows 10, 8.1 in OBS"
Hello, when i try to click on the distro links for RHEL, SUSE, Ubuntu etc in the latest browsers on Windows on OBS on this page: https://software.opensuse.org/download.html?project=home:ailin_nemui:irssi-test;package=irssi it does not work as intended for me, so i had to open up links on a RHEL machine to get the rpm i wanted maybe something for you too look into

[2017-11-04 20:35] gutigen commented on #151
Any news on this? Would love to have better looking packages search when I try to shill openSUSE to new users, first impressions matter :)

[2017-11-07 08:29] lrupp commented on #186
Just adding another admin ticket: https://progress.opensuse.org/issues/19964 => Error
:"sv-SE" is not a valid locale

[2017-11-07 23:35] cboltz commented on #186
One more: https://progress.opensuse.org/issues/27460 - "tr-TR is not a valid locale"

The ticket also includes the request headers in case you need them to fix this bug.

[2017-11-21 19:28] tomazb commented on #186
Any updates on this? I was the one who reported original "sl" issue.

Thank you.

[2017-12-05 07:46] rgerhards opened #199 "Debian packages built but not published"
Hi there, I am opening this issue as directed by https://twitter.com/obshq/status/937073469782597632. I am new to OBS, so I may be overlooking something very obvious.

I have begun to build packages for multiple distros, for example in this small project: https://build.opensuse.org/package/show/home:rgerhards/libestr. As you can see, it builds for both RPM and DEB based systems. Unfortunately, the

[2017-12-05 08:19] coolo commented on #199
sorry, this not a problem of software.opensuse.org - please subscribe to the OBS mailing list and query there

[2017-12-05 08:19] #199 closed

[2017-12-05 22:22] lrupp opened #200 "Cookies to set repo variant in software 1 click install"
Forwarding a feature request from our Admin ticket system ( https://progress.opensuse.org/issues/18306 ) here:

"Let users download through form leaving a cookie to set default as last picked repo variant (tumbleweed rather than leap)."

[2017-12-13 15:50] Vogtinator commented on #163
@guoyunhe Any news on this?

[2017-12-21 17:10] guoyunhe commented on #163
@Vogtinator Sorry for late reply. The new site design is almost done but here is no promise when it will be deployed. Probably, after openSUSE Leap 15 release, they will deploy it. I will ask admin team again to confirm. I will reply to this issue when I got new information.

[2017-12-28 10:35] Mailaender commented on #151
Yes, please don't give up. It is a bit sad to see https://software.opensuse.org/appstore bit rot.

[2018-01-07 13:41] probonopd commented on #171
Issue doesn't seem to be limited to AppImage. For example, searching for "Qt" gives an empty result.

https://software.opensuse.org/search?q=Qt

[2018-01-08 08:46] Ana06 commented on #171
@probonopd I would say this is a duplicate of https://github.com/openSUSE/software-o-o/issues/114, isn't it?

[2018-01-08 08:52] probonopd commented on #171
Seems definitely related, not 100% sure if really the same.

[2018-01-14 20:23] gsauthof commented on #190
I can confirm this security issue for Fedora/CentOS repositories:

The https delivered [Install instructions][1] say:

    wget https://download.opensuse.org/repositories/home:gsauthof/CentOS_7/home:gsauthof.repo

But this is just a redirection that downgrades https to http:

    < HTTP/1.1 301 Moved Permanently
    < Date: Sun, 14 Jan 2018 20:17:51 GMT
    < Server: Apache/2.4.23 (Linux/SUSE)

[2018-01-14 20:43] gsauthof opened #202 "CentOS/Fedora repo files insecurely reference the gpgkey"
Since the GPG key of a repository is used to verify packages that are downloaded over an insecure HTTP connection it's important to download this key over **HTTPS** to protect against man-in-the-middle attacks.

However, the `.repo` files generated by the OpenSuse Build Server reference a HTTP location.

Example:

These install instructions (https://software.opensuse.org/download.html?project=home

[2018-01-15 09:13] Vogtinator commented on #163
Ideally it should be deployed for the Leap 15 release, shouldn't it?

[2018-02-18 15:55] paul-hammant opened #605 "copy/paste of zypper commands on software.opensuse.org/package/xpra"
Page: https://software.opensuse.org/package/xpra/

OK so I'm in the right place, but on my Mac. I really want to copy/paste some commands to ssh to execute on the RaspberryPi3 (running 64bit OpenSUSE). That's not an option though :-(

The page only wants to help you with interactive installation, as indicated by the "1 click install".

Incidentally, that's about 25 clicks through a wizard, not one

[2018-02-20 17:34] rodolphopivetta commented on #192
is it down again?

[2018-02-21 11:28] hennevogel commented on #192
https://status.opensuse.org/

[2018-02-22 14:56] lnussel opened #218 "calculate size of images automatically"
images_controller has code to fetch the size of images from download.o.o, the same code could be used in all other places so size of iso images doesn't have to be hardcoded anymore

[2018-03-01 17:45] LelCP opened #221 "Distributions unavailable in search settings"
Distributions selection appears blank on main site (and doesn't allow for selection of anything)
https://software.opensuse.org/
![software-o-o](https://user-images.githubusercontent.com/30577011/36859993-1075a6ae-1d78-11e8-8ca2-326299fc8711.png)
https://software.opensuse.org/search
![software-o-o/search](https://user-images.githubusercontent.com/30577011/36860033-2d2952e6-1d78-11e8-8b61-9ac1d0234f

[2018-03-02 14:47] guoyunhe commented on #221
I will fix it tonight.

[2018-03-02 16:11] lnussel commented on #221
I was too curious looking at the code so couldn't resist :)

[2018-03-03 08:47] LelCP opened #224 "List mode for package view and icons"
Maybe not so much an issue, but an idea based on complaints about whitespace and readability.

We should make it possible for people to switch between list view and "screenshot view" as it is now, in package search. Just like in nautilus (best example :D)

![Nautilus](https://user-images.githubusercontent.com/30577011/36932103-3294e822-1ebc-11e8-98b8-58bc14e3d2ab.png)

For that however, we would n

[2018-03-05 07:45] #221 closed

[2018-03-05 12:22] lnussel opened #225 "puma leaking memory"
in the live instance at software.opensuse.org puma memory consumption grows over time util a point where it gets killed by the kernel. I've installed a memory limit for the systemd service but that only is a bandaid.

[2018-03-05 12:39] coolo commented on #225
that's actually the technique used all over the place ;(

https://github.com/schneems/puma_worker_killer

[2018-03-05 13:19] lnussel commented on #225
omg

[2018-03-05 13:21] coolo commented on #225
that's btw also what we do for openQA

[2018-03-05 13:42] lnussel commented on #225
what a wonderful world. In any case should this puma workerkiller then be used instead of systemd?

[2018-03-05 13:47] coolo commented on #225
I think so - systemd will wait for the complete cgroup to explode and kill requests in the middle of transfer. the worker killer will look at the workers one by one and restart them gracefully

[2018-03-05 13:48] coolo commented on #225
(the systemd limit is still a good way to make sure your system stays stable, but it should be 2nd line of defense)

[2018-03-07 16:22] DimStar77 opened #227 "https://software.opensuse.org/package/aspell-de refers to non-exitsing packages"
Originally reported via bugzilla: https://bugzilla.opensuse.org/show_bug.cgi?id=1076219

The package 'aspell-de' used to be built as a subpackage of igerman98; this was changed in openSUSE:Factory on 2017-11-30 - since then, aspell-de is no longer part of Tumbleweed

Yet https://software.opensuse.org/package/aspell-de still offers download links for TW

[2018-03-10 22:47] hellcp opened #228 "Inconsistent margin on download page"
![Low screen res](https://user-images.githubusercontent.com/30577011/37247565-ec71a99e-24b4-11e8-90c8-688685a13223.png)
On lower resolutions margin appears to be inconsistent

[2018-03-14 14:33] lnussel commented on #225
doesn't seem to really work on software.o.o or I set the limit too high.

[2018-03-20 10:54] dmacvicar commented on #135
This does not seem to be the case with the current version. I will close the issue, please reopen if you see this again.

[2018-03-20 10:54] #135 closed

[2018-03-20 10:55] dmacvicar commented on #151
The new theme is deployed.

[2018-03-20 10:55] #151 closed

[2018-03-20 10:59] dmacvicar commented on #190
First, this bug is not part of software.opensuse.org but the openSUSE download infrastructure (bugzilla.opensuse.org).
However, I tested and currently the redirect is going to https, so this does not longer seem to be an issue.

[2018-03-20 10:59] #190 closed

[2018-03-20 11:03] dmacvicar commented on #202
@adrianschroeter Is this known already?

The download area and build service are not part of software.opensuse.org. Please use
https://bugzilla.opensuse.org/enter_bug.cgi?product=openSUSE.org
Component "Build Service".

[2018-03-20 11:03] #202 closed

[2018-03-20 14:05] dmacvicar commented on #225
I think the approach short term should be to first profile the application with [rbtrace](https://github.com/tmm1/rbtrace) and get some idea of what can be increasing memory usage.

If that does not work we can explore other alternatives, an alternative server, etc.

Medium term, we should embed some instrumentation (eg, the default Prometheus gem) to grab/monitor some basic behavior. We can also

[2018-03-23 09:40] Ana06 opened #229 "Update to Ruby 2.5"
As long as Leap 15 version is released (and it is updated in production) we should update to Ruby 2.5 :tada:

[2018-03-23 09:42] ikapelyukhin commented on #225
I'm going to look into this on the weekend.

[2018-03-23 14:03] dmacvicar opened #230 "Monitoring/metrics/instrumentation"
Right now there are two use-cases where we need some kind of monitoring and metric tracking:

* That the application is up at all
* That if we have a problem: eg. the current memory consumption, OBS being unresponsive, etc., we have the right data and evidence to make conclusions about it.
* Some statistics that before were thrown into the database (download counter, etc).

Therefore, I suggest we

[2018-03-23 18:29] hustodemon commented on #197
Hi @bittin . Thanks for the report! I've tried it right now and it seems to work for me (the site has changed quite drastically recently). I'm closing this, feel free to reopen if you face the issue again!

[2018-03-23 18:29] #197 closed

[2018-03-23 19:52] DimStar77 opened #232 "Tumbleweed uses new Prod builder: appdata.xml moved"
Tumbleweed was moved to the new Product builder during week 12. ON Fri, Mar 23, the first snapshot based on the new builder was (finally) released

This has an impact for software.o.o though: the appdata file is no longer to be found in suse/setup/descr/, but is now in /repodata. One needs to inspect repomd.xml to find the exact name (the file name starts with a hash, so it is going to change)

[2018-03-24 22:06] ikapelyukhin commented on #225
Oh yes, something's definitely wasting memory. Just after starting the app on Ruby 2.5, with 2 workers, memory usage around 55MB per worker process:

[code]

15,000 requests to `/` route later, memory usage grows to ~600MB, something has allocated half a million strings:

[code]

I'm going to try to figure out what's going on here.

[2018-03-26 10:05] hennevogel commented on #230
What about metrics.opensuse.org? :-)

[2018-03-26 12:56] dmacvicar commented on #230
That would be perfect. We would still need a prometheus instance to gather the metrics. We can use metrics.opensuse.org to display them.

[2018-03-26 13:42] hennevogel commented on #230
If we only want Rails middle ware stats there is also [influxdb-rails](https://github.com/influxdata/influxdb-rails).

For the other data we send things out to rabbit.opensuse.org, consume with telegraf, write to influxdb (make it possible for others to use this data from script or whatnot). Or sending things out to with [influxdb-ruby](https://github.com/influxdata/influxdb-ruby).

[2018-03-28 12:46] diegoakechi opened #233 "Improve "Readme" to make clear the differences between Leap and Tumbleweed Ruby environment setup"
Leap has ruby 2.1 as default and the project does not run using this version (2.2 or higher), it demands different packages installations to setup the development environment on Leap or in Tumbleweed. Making it clear can help new contributor to join.

[2018-03-28 15:01] #233 closed

[2018-03-29 08:13] mcepl opened #235 "software.o.o hides my rpms"
I have a project https://build.opensuse.org/package/show/home:mcepl/neovim-head which seems to build just fine (at least for Tumbleweed), but when I click on "Download package" (https://software.opensuse.org//download.html?project=home%3Amcepl&package=neovim-head) I get only "No data for home:mcepl/neovim-head". Somebody on #opensuse-buildservice suggested it must be problem here, because apparent

[2018-03-29 08:52] diegoakechi commented on #185
Hi @wsxy162 and @guoyunhe,

This issue was fixed in the new version of the application, then I am closing this issue.

Thanks for your report.

[2018-03-29 08:52] #185 closed

[2018-03-29 12:52] dmacvicar commented on #235
The problem is that the name parameter matches the binary, and you named differently the package as in the project, as the binary you want to link. Your project does not output a 'neovim-head binary.

So the following link should work:

https://software.opensuse.org/download/package?project=home:mcepl&package=neovim

[2018-03-29 12:52] #235 closed

[2018-03-29 12:54] dmacvicar commented on #180
I am closing this issue, feel free to do a PR.

[2018-03-29 12:54] #180 closed

[2018-03-29 14:15] dmacvicar commented on #227
The package is not existing, but the call to the API `/search/published/binary/id?match=%40name+%3D+%27aspell-de%27+`

returns an entry:

[code]

Shoudn't this be reported as a bug to OBS?. //cc @adrianschroeter @mlschroe

[2018-03-29 15:07] dmacvicar commented on #191
I believe this was addressed in https://github.com/openSUSE/software-o-o/pull/215

Please reopen if it is not the case.

[2018-03-29 15:07] #191 closed

[2018-03-29 15:19] mcepl commented on #235
@dmacvicar That's weird. What if I want to have two repositories with neovim, one for the released versions and other following the git HEAD? Both of these would of course produce neovim.rpm.

[2018-03-29 20:16] dmacvicar commented on #235
Then you need two projects. Each project is a repository: home:mcepl:neovim_head home:mcepl:neovim.

Another hack could be: add two targets to a single project named differently (openSUSE_Tumbleweed_head openSUSE_Tumbleweed_stable) building both against openSUSE:Tumbleweed standard. Then you disable the build/publish of the "wrong" package in each target. That would work, but it is not common/good

[2018-03-30 09:38] z3ntu opened #238 "Vagrant instructions are broken"
What I ran:
[code]
When running `bundle install`, I get the error
[code]

[2018-03-30 09:40] z3ntu commented on #238
Also there's a typo in the description of the github "projects" (Issues bei**N**g worked on by the software.o.o team) :)

[2018-03-30 13:10] dmacvicar commented on #137
I gave it a first look, however https://github.com/openSUSE/software-o-o/blob/master/app/views/package/_download_rows.html.erb is a mess. Lot of calculations done in the view layer.

I suspect something related to that crazy result first last first usage. Looks like it is accepting a project that has any official baseproject as valid. But I can't be sure, as it is very hard to reason in a deep nes

[2018-03-30 23:31] Ana06 commented on #238
@z3ntu it seems that Ruby version is too old :see_no_evil:

@z3ntu

What about sending a PR? It would be really appreciated :wink:

[2018-03-31 09:33] z3ntu commented on #238
The typo thing is in that view
![image](https://user-images.githubusercontent.com/3768500/38161804-2030d062-34d6-11e8-88a3-0d53c8e1c8f2.png)
that only admins can edit.

About ruby: It seems that ruby2.2 is not in opensuse leap 42.1 (where the docker image is based of). Should I change the base image too?
And I guess as

is in the readme, the image should be switched directly to 2.4 (or later)

[2018-04-01 22:29] Ana06 commented on #238
@z3ntu

Fixed :wink:

I would say we change to Leap 42.3 in our vagrant machine. It comes with Ruby 2.1 by default, so Ruby 2.4 needs to be installed, but it is included so it is not problem :wink:  @z3ntu will you sent a PR for this? :relaxed:

[2018-04-01 22:49] z3ntu commented on #238
I tried to do this but I don't know how to get the tools to accept the ruby.ruby24 (or similar) as the default Ruby executable

[2018-04-06 07:39] hustodemon commented on #116
Hi @catap . The page layout changed recently and both the links reported here seem to work (I also tried some packages that have centos 6 builds currently, e.g.: https://software.opensuse.org/download.html?project=home%3Acathay4t%3Amisc-rhel6&package=vim). I'm closing the issue. Feel free to re-open/create a new issue if you encounter it again.

[2018-04-06 07:39] #116 closed

[2018-04-06 07:43] hustodemon commented on #230
Short status update: I did some experiments with the [Prometheus Exporter](https://github.com/discourse/prometheus_exporter). I was able to export basic ruby metrics and visualize them with grafana. I still want to explore the influx options suggested by @hennevogel .

[2018-04-06 08:43] hustodemon opened #239 "Upgrade loofah"
Upgrade the loofah gem to 2.2.1.

[2018-04-09 15:25] Ana06 commented on #239
why?  A more detailed message would be nice :rofl:

[2018-04-09 15:30] Ana06 opened #240 "Solve Layout/EmptyLinesAroundBlockBody offenses"
This cops checks if empty lines around the bodies of blocks match the configuration. More details: https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutemptylinesaroundblockbody

**Tip:** This cop support autocorrection, but the offense can not be automatically corrected.

[2018-04-09 15:32] Ana06 opened #241 "Solve Layout/IndentationWidth offenses"
This cops checks for indentation that doesn't use the specified number of spaces. More details: https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutindentationwidth

**Tip:** This cop support autocorrection, but the offense can not be automatically corrected.

[2018-04-09 15:34] Ana06 opened #242 "Solve Style/UnneededInterpolation offenses"
This cop checks for strings that are just an interpolated expression. More details: https://rubocop.readthedocs.io/en/latest/cops_style/#styleunneededinterpolation

**Tip:** This cop support autocorrection, but the offense can not be automatically corrected.

[2018-04-09 18:02] coolo commented on #239
while I agree, the reasoning is not so hard to spot if you check review the security report for the repo: https://github.com/openSUSE/software-o-o/network/dependencies

[2018-04-10 11:10] dmacvicar commented on #230
@hennevogel Do we have an openSUSE instance of InfluxDB already? or do you mean running one in the same machine? (in that case it would not make a difference to use Prometheus).

[2018-04-11 13:06] hennevogel commented on #230
@dmacvicar rabbitmq runs on rabbit.o.o. and metrics.o.o runs telegraf, influx and grafana already.

[2018-04-12 07:50] dmacvicar commented on #230
@hustodemon we could ask @jberry-suse if we can use the InfluxDB in metrics.opensuse.org, or whether we can run prometheus there.
https://bitworking.org/news/2017/03/prometheus

[2018-04-12 07:51] dmacvicar commented on #225
@ikapelyukhin any success?

[2018-04-12 09:00] hennevogel commented on #230
I'm sure you can. We (OBS team) will also start to use it soon :-)

[2018-04-12 09:05] dmacvicar commented on #230
I would really prefer to go the Prometheus way (pull), and also because of the internal knowledge we have inside of SUSE (used for SUSE Manager, Storage, Containers)

[2018-04-12 13:34] jberry-suse commented on #230
Prometheus does not bother me. As far as pull, that's how influxdb is getting the data right now.

Presumably not talking about majority resource usage as any increases will need to be requested. The plan is to manage via salt, but nothing ever came of previous meetings to achieve that. If folks have interest in converting the configuration that would be great. Otherwise, if you provide the necess

[2018-04-12 13:38] jberry-suse commented on #230
The tooling for pulling data and the grafana dashboard and data source definitions are providing via a package on OBS which would be ideal for software-o-o to do as well. That way all that is outside of proper versioning (somewhere) is the firewall config, grafana/influxdb config, and list of packages installed on machine.

[2018-04-12 13:39] jberry-suse commented on #230
For an example of the package layout that uses grafana provisioning see https://github.com/openSUSE/openSUSE-release-tools/blob/820d1030e54f5c9bbfe9aeb69ca5b3b44a838aaa/dist/package/openSUSE-release-tools.spec#L445-L461.

[2018-04-13 07:56] ikapelyukhin commented on #225
@dmacvicar Nothing conclusive yet. I guess I've managed to narrow the issue down somewhat: I've created a couple new controllers, the controller that renders the simplest ERB template seems to leak memory, while the controller that render plain text doesn't.

I think the Rails app was upgraded from Rails 3 to Rails 5, so perhaps there are some older dependencies in the Gemfile, or maybe there's so

[2018-04-13 08:09] dmacvicar commented on #232
Pending deployment.

[2018-04-13 13:35] sknorr opened #245 "One-click install not available anymore"
The new version of the package search on software.o.o does not offer one-click installs anymore. That seems like a major regression in terms of functionality, since all I get right now are RPMs, without any repo information attached.

[2018-04-13 13:38] sknorr opened #246 ""Get" button on package search results page is misleading"
On the search results page, each package tile has a "Get" button. "Get" sounds a lot like "Download" but instead, all it does is lead you to a details page. Hence, I'd suggest to change the label to "Details".
Maybe it could be removed entirely, because it actually does the same thing as the link within the package title.

Something else that is misleading here is the combination of "Get" button +

[2018-04-16 18:33] hustodemon commented on #245
Hi @sknorr , unfortunately I forgot how the page looked like before, so I must ask: what exactly do you mean? E.g. going to https://software.opensuse.org/package/vim, I can see that there are 1-click installs for all the repositories. The main link "Direct installation" leads to 1-click installer as well.

![ss](https://user-images.githubusercontent.com/1412268/38828045-16ba9f7c-41b5-11e8-95b7-40e

[2018-04-17 09:09] sknorr commented on #245
Hm -- interesting thanks. I hope I am not just going nuts, but I think that button wasn't there a few days ago. Anyway, I am glad this seems to have fixed itself. Closing. :)

[2018-04-17 09:09] #245 closed

[2018-04-17 09:27] hustodemon commented on #245
No worries, thanks for the report anyways ;)

[2018-04-18 11:37] Vogtinator commented on #163
Ping. The new site design is there bug it's still displaying wrong information.

[2018-04-20 08:16] scarabeusiv opened #251 "Search results show wrong versions and broken links"
This is copy of https://bugzilla.opensuse.org/show_bug.cgi?id=1090279

Many packages in the software portal have broken links and/or are missing links to architectures that exist in the repository.  Two examples (among many):

1. At <https://software.opensuse.org/package/libgtk-3-0> the "official release" section for openSUSE Tumbleweed shows only a 32-bit package, even though both 32- and 64-bit

[2018-04-20 08:38] logological opened #252 "Search should prioritize exact matches over substring matches"
This is a copy of [Bug 1090276](https://bugzilla.opensuse.org/show_bug.cgi?id=1090276) on the openSUSE Bugzilla.

Searching the software portal for `ack` fails to return [the package ack](https://software.opensuse.org/package/ack).  Instead, it returns hackrf, ntrack, vim-hack, devstack, and dozens of other packages that happen to have the three characters "ack" somewhere in their names.

The sear

[2018-04-20 23:07] aspiers opened #253 "Documentation links are formatted wrong"
On:

- https://software.opensuse.org/distributions/leap
- https://software.opensuse.org/distributions/tumbleweed

the Documentation sections contain 4 links which are displayed in 4 `<td>` cells with no separation between them, so they look like a single sentence which makes no sense.  A bulleted list or similar would be visually clearer.

[2018-04-22 07:07] dmacvicar commented on #225
So I monitored the instance overnight and https://github.com/openSUSE/software-o-o/pull/248 made no difference at the end. The app still climbes to 1.5G.

I have another hypothesis.

When I traced memory usage with `rbtrace`, the places with most references were two, one of these was /sprockets/mime.rb`. Which points to this [issue](https://github.com/rails/sprockets/issues/432).
Now, that is fixe

[2018-04-22 07:27] ikapelyukhin commented on #225
@dmacvicar How is the site provisioned? From the RPM? Just to make sure, could you please verify that the config on the server and any other files are actually unmodified? (`rpm -V software-o-o`)

[2018-04-22 10:06] dmacvicar commented on #225
@ikapelyukhin Only options.yml is changed, but to change the OBS API server hostname, nothing else.

[2018-04-22 21:48] #186 closed

[2018-04-23 13:20] aspiers opened #255 "distribution pages should link to most annoying bugs"
[Originally filed in [bsc#971397 (https://software.opensuse.org/ should link to most annoying bugs)](https://bugzilla.suse.com/show_bug.cgi?id=971397)]

Since https://software.opensuse.org/distributions/leap is linked to from https://www.opensuse.org/, it is the main page users will refer to when installing openSUSE Leap.  Therefore it is important that any known bugs with the installation process

[2018-04-23 15:03] lnussel commented on #255
the most annoying bugs list is mainly intended for the development phase. Anything affecting the distribution after the release should be documented in the release notes. So I think it would make sense to link those instead.

[2018-04-23 17:04] LelCP opened #256 "Use human_arch to display architectures"
Instead of using i586 and x86_64 use `32-bit` and `64-bit` names of architectures, it's apparently less confusing to general audience.

[2018-04-23 20:01] aspiers commented on #255
@lnussel Would (hopefully rare) annoying bugs discovered post-release be added to the release notes?  If so I'm OK with that approach.

[2018-04-24 08:39] ikapelyukhin commented on #256
Seems to be related to #185.

[2018-04-24 12:39] lnussel commented on #255
First I would hope that annoying bugs get fixed by means of maintenance update. If a problem cannot be fixed, eg when related to the installer then the release  notes would be the right place to document them. Someone needs to have that in mind though and actually ask for a release notes entry.

[2018-04-25 09:50] Ana06 opened #258 "failed to allocate memory"
Try https://software.opensuse.org/search

![image](https://user-images.githubusercontent.com/16052290/39238542-cbfe6646-487e-11e8-90d0-791afd0f26f5.png)

[2018-04-25 09:50] Ana06 commented on #258
@dmacvicar any idea why is this happening? :thinking:

[2018-04-25 10:29] ikapelyukhin commented on #258
Perhaps #225 strikes back. :scream:

[2018-04-25 10:51] dmacvicar commented on #258
I just restarted the service, but it is only a question of time when it will hit us again:

[code]
I was under the understanding that there was a memory limit installed for the service. I can't find it, but that is what probably prevents it to allocate more once it reached this amount.

[2018-04-25 10:56] #258 closed

[2018-04-25 11:32] dmacvicar commented on #239
I just ran bundle_gems, because the package was failing to build after the merge.

[2018-04-25 11:43] dmacvicar commented on #256
![arch](https://user-images.githubusercontent.com/15332/39243660-8e1798a6-488e-11e8-8213-5a951d00c0f1.png)

[2018-04-25 11:43] #256 closed

[2018-04-25 11:43] dmacvicar commented on #185
![arch](https://user-images.githubusercontent.com/15332/39243679-9df072ac-488e-11e8-9d66-c6ede37f8fa9.png)

[2018-04-25 11:48] dmacvicar opened #259 "Update to Rails 5.2.0"
Rails 5.2.0 is the latest stable, and we should avoid falling behind, as jumping versions later becomes painful.

[2018-04-26 09:06] ChrisKowalczyk commented on #90
It seems that quote marks are added when there is too many search results. This results in standard error code being returned:
"413 :request_entity_too_large"
Then, we try to limit the number of results by adding quote marks.

I'd say this is a good approach..? Should we add some kind of information/notification to the user about it? Or, try to reduce the size of data returned from db?

@Ana06 , @

[2018-04-26 11:35] ikapelyukhin opened #260 "Some locales are missing proper names in the language dropdown"
It's probably the translations issue. Some locales like `nn` and `sv` are missing the proper names, capitalization is weird and the list looks inconsistent:

![image](https://user-images.githubusercontent.com/1793699/39303427-55e6ebee-4956-11e8-8439-fd91bf929038.png)

[2018-04-26 11:45] Ana06 commented on #90
@ChrisKowalczyk

I am not sure if it is the best approach, but if we keep it, I would add the quotes only internally, but don't show it to the user. :thinking:

[2018-04-26 11:47] Ana06 commented on #260
@ikapelyukhin it is a translation issues, but it is in our code: https://github.com/openSUSE/software-o-o/blob/abbd05ccecb547e5250e51eb706f22b12a8aae0b/locale/sv/software.po#L15

Thanks for reporting it! :+1:

[2018-04-26 11:59] ikapelyukhin commented on #260
Ah, so it's the language files but the translators can't actually change it in Weblate? Maybe it should be a regular string then, too.

[2018-04-26 16:09] mrmazda commented on #90
IMO, quote marks should always be assumed if there is only one string of unbroken non-whitespace characters, thus no need for their display unless input.

[2018-04-27 08:02] ChrisKowalczyk commented on #90
After some thinking, generally, the behaviour of those quotes seems to me a bit strange.
1)
When I enter:
sssd
I will get many results: sssd-ad, sssd, sssd-something etc.
2)
If I enter:
"sssd"
I get only sssd as a result.
Are these the results we want to have?

Regarding this "413 :request_entity_too_large" error, perhaps would be a better idea to solve it properly and somehow limit the number of

[2018-04-27 08:49] Ana06 opened #262 "Nav bar sections rearrange"
The old style had more links as the current one:

![image](https://user-images.githubusercontent.com/16052290/39353442-f99777b6-4a07-11e8-8763-8155f6329c36.png)

I do not really like the dropdowns wit hthat many things, but I wonder if we are missing something important... :thinking:

Also the download and software tabs are almost the same:

![image](https://user-images.githubusercontent.com/16052

[2018-04-27 08:51] Ana06 commented on #228
@guoyunhe do you want to help with this or should I label ir as `help wanted` that someone else can work on it? :smile:

[2018-04-27 08:52] Ana06 commented on #262
@guoyunhe any opinion? :smiley:

[2018-04-27 08:54] guoyunhe commented on #228
@Ana06 I can fix it later today. Sorry for late response.

[2018-04-27 08:54] Ana06 commented on #167
@Garbee

If you need hep to set the project to send the changes, let us know :wink:

[2018-04-27 09:14] guoyunhe commented on #262
The new UI separated these links to two position:

1. Most important links (users may need every day) are in navbar
2. Less important links are in footer

"Derivates" is missing in new UI. I think we can add it to footer. Other links should be in footer. If here are still something missing, let me know.

In my mind, "Download" and "Software" are two different functions. One is for download system

[2018-04-27 12:06] Ana06 commented on #228
@guoyunhe thanks! :wink: we are not in a hurry, don't worry. I just through that if you don't have time, maybe someone else wants to work on it.

[2018-04-28 17:35] LelCP commented on #262
We already have site with categories (appstore) online, it could be used as main site for Software to it (I suggested that some time ago but was rejected :/) https://software.opensuse.org/appstore/

It currently finds and selects random packages based on whether they got images or not, which is not optimal, but unless we add rating and stuff from gnome store into it, we got nothing else to put the

[2018-04-28 17:50] guoyunhe commented on #262
@LelCP I think https://software.opensuse.org/appstore/ is good as a home page.

Integrate GNOME store API is also good. However, I didn't find any information about its API. I know Ubuntu has their rating and review database but their favorite apps are not exactly what openSUSE users want. Especially because many openSUSE users love KDE apps. I am interested in the following data from openSUSE:

1

[2018-04-28 18:03] LelCP commented on #262
Recently released KDE Discover uses Gnome's API, so there shouldn't be a problem with common interest  :D

1. I believe we got rss feeds for this (we certainly got it for whole OBS), there shouldn't be much trouble in getting that info
2. No idea, but doubt it

[2018-04-28 20:05] dmacvicar opened #264 "Refactor load_distributions to avoid cache logic bugs"
We had an outtage during this weekend which was caused by the following:

* `load_distributions` returned `nil`for some reason. Most probably, OBS was down for a bit, and that code, for some reason, was written fearing exceptions, logging them and returning nils.
* `set_distributions` uses `Rails.cache.fetch` with a block. The block returned nil, and we cached `@distributions` as `nil`.
* The appl

[2018-04-28 20:12] dmacvicar opened #265 "Be more resilent to OBS being down"
If OBS is down, some data can't be cached. The app itself shows a banner that OBS is not available, however, we return a status code 400 and that makes the reverse proxy shows the app in maintenance.

I suggest:

* Refactor `application_controller` code that caches obs data in some kind of `obs_controller`.
* Make static pages like the distribution pages, not inherit this obs_controller and not be

[2018-04-28 21:46] dmacvicar commented on #225
So, I took a (incomplete, as it timeouts) memory allocation trace of production, and it is very different to development. At least, it makes more, sense:

[code]

[2018-04-29 14:38] dmacvicar commented on #225
# Objects with biggest sizes

[code]
Those do not show change between traces.

# Objects with highest instances
[code]

Those grew up from 207082.

Lets look at their types:

[code]

Type 'ARRAY' and 'STRING' show the biggest growth between dumps.

[code]

The initial trace:

[code]

There is an unusual number of memory allocated to the property key, eg. "baseproject", but I guess that is not a le

[2018-04-29 17:56] guoyunhe opened #267 "Search bar is not translated in all languages"
Maybe here are some mistakes in the code that cause Weblate cannot generate new translations.

![screenshot_20180429_205513](https://user-images.githubusercontent.com/5836790/39409444-c2aabd8c-4bef-11e8-929f-410e685012c8.png)

[2018-04-30 05:05] LelCP opened #269 "Show all images provided by appstream in more convinient way"
Would be nice to have carousel with more than one image (given that many apps provide more than one screenshot). Would also be awesome to show enhanced images in modal, instead of opening only one image in new tab.

[2018-05-01 10:01] guoyunhe opened #271 "Description of Kubic is copied from Network Image"
![screenshot_20180501_130013](https://user-images.githubusercontent.com/5836790/39469202-be83e9e4-4d3f-11e8-8a0f-416cb686bbc1.png)

Should use more meaningful description.

[2018-05-02 07:22] guoyunhe opened #272 "Two different versions of jQuery was loaded"
1. The newer one is from chameleon theme, which is required by Bootstrap. (`public/chameleon/css/app.css`)
2. The older one is from `app/assets/javascript/application.js`.

It may cause some unknown exception. So we should probably remove the older one.

[2018-05-02 07:34] guoyunhe opened #273 "Search result order needs improvement"
For example, search "firefox":

![screenshot_20180502_103000](https://user-images.githubusercontent.com/5836790/39510713-5f4e06e4-4df3-11e8-8905-3d6614c97f69.png)

The actual MozillaFirefox package is in 4th place. The first one is a user's package. The second one is from development project. The third one is unavailable in Tumbleweed and Leap 15.

I think search result order should calculate thes

[2018-05-02 09:48] simson-suse opened #274 "Direct Install of clamav for Leap 42.3 provides bad repo urls"
Such as:
http://download.opensuse.org/repositories/openSUSE:/Leap:/42.3:/Ports/ports

[2018-05-02 09:56] guoyunhe commented on #274
Yes, here are a lot of similar errors. Maybe we should create a master issue and mark all others as duplicates. Here is one I reported last year:

https://github.com/openSUSE/software-o-o/issues/137

[2018-05-04 08:56] ChrisKowalczyk commented on #90
The problem is related to too big http requests between the client and the backend:
software-o-o/app/controllers/search_controller.rb: line 19
software-o-o/app/models/seeker.rb: lines 20-50
software-o-o/app/views/search/_find_results.html.erb: lines 19-30

Moving this to back TODO until @dmacvicar 's changes in the client & ActiveXML are done (this may possibly solve the too big http request probl

[2018-05-04 11:17] ChrisKowalczyk commented on #114
I was investigating this problem for a while. It seems that the problem lies on the backend side: without specifying the exact distribution, some data is not returned correctly to the client.

In particular, in case of MC, I noticed that we don't receive data for "<li><b>project:</b> Base:System</li>x<li><b>repository:</b> openSUSE_Leap_15.0</li>" packages.
However, we still receive data for <li><

[2018-05-04 22:37] hellcp opened #276 "Make "default searches" more noticable"
Putting default searches in plain text causes them to look like part of the page and not something user should be focused on.

Bootstrap provides "alert" classes to help with such things c:

[2018-05-04 22:51] hellcp commented on #276
Example:
![example](https://user-images.githubusercontent.com/30577011/39656193-5d74d278-4ffe-11e8-9cca-ad6d8fe1ef49.png)

[2018-05-05 06:38] #228 closed

[2018-05-05 06:58] #267 closed

[2018-05-05 08:37] guoyunhe opened #278 "Local Development: error on /appstore"
When I open `/appstore` on local development environment, I got:

[code]

which was from `app/views/package/categories.html.erb` line 2.

Any suggestions?

[2018-05-05 08:42] hellcp commented on #278
Oh, whoops

It needs to have some screenshots loaded, try visiting few apps for it to load those screenshots, it should work fine afterwards.

However it should be fixed :x

[2018-05-05 08:48] guoyunhe commented on #278
This brings a more serious problem: I cannot find any package with screenshot :crying_cat_face: (both local environment and https://software.opensuse.org/ )

[2018-05-05 08:48] hellcp commented on #278
0ad is always a safe bet

[2018-05-05 08:55] guoyunhe commented on #278
https://software.opensuse.org/ has screenshot. But my local environment doesn't.
![screenshot_20180505_115046](https://user-images.githubusercontent.com/5836790/39661480-b3c4ff48-505a-11e8-9707-2f425e795727.png)

[2018-05-05 09:11] hellcp commented on #278
No idea, maybe somebody else, with more experience with this codebase will know.

*I think that lighter background doesn't fit, it makes page harder to navigate, lacks visual contrast*
*White backgrounds behind particular versions make it so it's easily visible what is what*
*Even simple color swap would make it more readable*

![screenshot from 2018-05-05 11-04-20](https://user-images.githubuserc

[2018-05-05 09:36] guoyunhe commented on #278
I got error message:

[code]

[2018-05-05 09:43] hellcp commented on #278
![Ruby](https://user-images.githubusercontent.com/30577011/39661864-60692884-5059-11e8-9479-418e0a52c0c7.png)

So the real issue is with Ruby not being able to read gzip :+1:

[2018-05-05 10:08] guoyunhe commented on #278
It seems openSUSE repos provide both xml and xml.gz format. I changed the url to xml and removed gzip function. Now I get screenshots on search results and package page.

But when I go to appstore page, it still throw error.

[2018-05-05 10:45] guoyunhe commented on #278
OK, solved. It is my fault to renamed the route function but didn't change the "before" function.

I am planning to change "appstore" to "explore" and set it as the home page of software portal.

[2018-05-05 12:45] #278 closed

[2018-05-05 21:13] #259 closed

[2018-05-08 11:41] guoyunhe opened #281 "Different favicon on all sites"
www.opensuse.org | software.opensuse.org | en.opensuse.org

![screenshot_20180508_144105](https://user-images.githubusercontent.com/5836790/39755154-6d893c36-52cd-11e8-804f-c9808dfe4622.png)

Personally, I like the favicon used in software.opensuse.org . It is bigger and more identical.

[2018-05-09 09:30] alexandergraul commented on #265
I have a question regarding the distribution pages, will they keep the search bar? My understanding is that having the search bar on the page will require data from OBS in the distribution controller for "search/_find_form.html.erb", is that right?

[2018-05-09 09:37] guoyunhe commented on #265
@alexandergraul

The reason `search/_find_form.html.erb` requires OBS data is that here is a settings modal inside, which must have a list of all supported distributions from OBS.

If we remove the search bar from distribution pages, it will be okay.

If we remove system detection, the distribution list is unnecessary and we can remove OBS dependence. (This requires us to redesign the one-click in

[2018-05-09 13:14] dmacvicar commented on #265
If we merge https://github.com/openSUSE/software-o-o/pull/279 we could move on to improve this, as that PR removes the search bar from the distributions page.

[2018-05-10 08:46] diegoakechi commented on #260
@ikapelyukhin and @Ana06, this issue was fixed on the #270 via commit 6d80542fed28ccc5aa0a55a40c1f6011610869e5.
Can I close this issue?

[2018-05-10 10:39] dmacvicar opened #286 "Design of Screenshot model class"
I have been working in some tests for the screenshot class (https://github.com/openSUSE/software-o-o/pull/284), in order to clenaup a bit the logic.

The code seems to:

* If the image is not already resized in the filesystem, we download it, resize it, store it locally and also store it in memcached

Now, the memcached cached value is used only if `:type != :thumbnail`, otherwise it reads it from

[2018-05-10 10:44] dmacvicar commented on #281
Then the PR should be done against those projects.

[2018-05-11 03:06] hellcp opened #287 "Move extensions to bootstrap to this repo"
Extensions specific to software-o-o shouldn't live in chameleon repo, as they aren't available to be modified alongside software they belong to.

[2018-05-11 07:31] lnussel opened #289 "deployment plan for 15.0 release"
Leap 15.0 is scheduled to be released May 25th, 12:00 UTC. That means software.o.o needs to be in deployable state at that time. IOW we need known working packages ready to be installed latest two hours prior to that time.

So the distributions controller needs to be modified to replace 42.3 with 15.0 in the /distributions/leap route, the testing route needs to be disabled.

Leap 15 currently does

[2018-05-11 08:25] dmacvicar opened #290 "Delete rubygem packages from openSUSE:infrastructure:software.opensuse.org"
We bundle the gems, so these packages are not needed.
https://build.opensuse.org/project/show/openSUSE:infrastructure:software.opensuse.org

[2018-05-11 08:26] dmacvicar commented on #289
Can we implement something so that the "current" version is not something that requires changes to software.opensuse.org, eg. scrapping it from somewhere and storing it in memcached? Would that be worth it?

Needing a re-deploy for data does not sound appropriate.

[2018-05-11 08:47] guoyunhe commented on #289
Maybe we can store it in `config/releases.yml`, like:

[code]

[2018-05-11 11:26] hellcp opened #291 "Make distribution logos more equally weighted"
In visual design, visual weight is quite important aspect. I can see with my naked eye that ratio of distribution logos is very wrong, so I calculated ratio of rectangles around the logos and came up with 1.2404 linear or 1.5386 square ratio. Leap logos are that much too big.

Difference is quite visible:
Before:
![before](https://user-images.githubusercontent.com/30577011/39922235-75203c44-551e-1

[2018-05-11 15:03] dmacvicar opened #293 "Make data around release/current version/testing external to the code"
Make it so that we don't need a full risky redeploy to update the pages (disable testing, new release coming, current version in /leap).

Following the discussion from https://github.com/openSUSE/software-o-o/issues/289

Either `/etc/software_opensuse_org.conf` or something in yaml in `config/`

//cc @Ana06

[2018-05-12 06:39] guoyunhe commented on #291
great😎

[2018-05-13 21:53] Ana06 commented on #293
I've started working on it: https://github.com/Ana06/software-o-o/tree/release

but I get an error and I can not try it :sob:

[2018-05-16 07:04] hustodemon commented on #230
Hi @jberry-suse , I wrote a simple salt state that installs prometheus on a machine and makes sure it's running. I don't have much experience with packaging, but IIUC you'd prefer creating some kind of pseudopackage which contains some prometheus config and which makes sure the prometheus is installed (via `Requires`). Is that right?

[2018-05-16 13:29] lnussel commented on #289
so what is the plan? Note that just replacing the version number in the leap resp testing view won't suffice as each release has a different set of medias. So the config would need to actually configure which view to use.

[2018-05-16 13:41] dmacvicar commented on #289
Anna was working in a PR, but this changes the requirements completely :-/

[2018-05-16 19:30] jberry-suse commented on #230
Salt is fine. The packaging is for configs/scripts coming out of this repo, but if very minor like point at your endpoint could also be done via salt.

[2018-05-17 12:56] dmacvicar commented on #289
That could be a good solution. I will take @Ana06's branch and adapt it to do that, and then make the route config dynamic based on those values.

[2018-05-17 22:40] ikapelyukhin commented on #260
@diegoakechi @guoyunhe The capitalization is still weird (some languages are capitalized, others are all lower case). I'll fix it when I have time.

[2018-05-18 06:27] guoyunhe commented on #260
It's from Wikipedia. Some languages, like Finnish (suomi) don't have capitalization. I have checked most of them.

[2018-05-18 07:16] ikapelyukhin commented on #260
@guoyunhe Hmm, that doesn't seem to be true:

![image](https://user-images.githubusercontent.com/1793699/40221133-d41f1280-5a7b-11e8-8f9f-75e29a2cbe98.png)

But getting the language names from Wikipedia is a good idea. I'll double-check, re-scrape and open a PR if necessary.

[2018-05-18 11:11] #281 closed

[2018-05-18 11:11] guoyunhe commented on #273
In PR #296

[2018-05-18 11:17] guoyunhe commented on #271
Fixed

[2018-05-18 11:17] #271 closed

[2018-05-18 11:26] guoyunhe opened #299 "Avoid installing package for different architecture"
OS architecture can be found in `User-Agent` header of each HTTP request. For example, on my 64bit Tumbleweed, it is:

[code]

So, If the users' OS is `x86_64`, we can filter out all ARM, Power port packages.

[2018-05-18 14:44] guoyunhe opened #301 "openSUSE:Factory:Rebuild"
Should this project be excluded in software.o.o ? It seems an internal project and doesn't have any package that end users will need.

![screenshot_20180518_174246](https://user-images.githubusercontent.com/5836790/40241200-0f457a7e-5ac3-11e8-97b4-db618fe61fe7.png)

[2018-05-20 11:50] dmacvicar commented on #289
This is all merged and deployed. We only need to add some test for timezones.

[2018-05-20 11:50] #289 closed

[2018-05-20 11:50] dmacvicar commented on #293
This is merged and deployed.

[2018-05-20 11:50] #293 closed

[2018-05-20 11:51] dmacvicar commented on #290
I already deleted most of them (except a few that I am not sure if they are used during build)

[2018-05-20 11:51] #290 closed

[2018-05-20 11:51] dmacvicar commented on #286
I went ahead and refactored it, after we were reported a security issue by @esparta

[2018-05-20 11:51] #286 closed

[2018-05-22 12:49] #260 closed

[2018-05-22 20:27] alexandergraul commented on #299
as I mentioned in the PR, I think this should be up to the user. Displaying what other architectures are available for packages can be useful. Maybe we can have different behaviour for appstore and package search (since one is user-initiated and the other isn't) in this regard. Having a button "display other architectures" on the search result page similar to the "Unsupported Distributions" sectio

[2018-05-23 07:29] guoyunhe commented on #299
I am working on it. Will detect user selected `baseproject`. For normal Tumbleweed, Leap system, show i686 and x86_64 packages. For Factory ARM, Factory PowerPC, show aarch64, armv7l, ppc64 packages.

If user haven't chosen a baseproject before, pop up the settings modal and ask for their choices.

[2018-05-23 07:41] logological opened #303 "SeaMonkey package incorrectly named "SeaMonkey Composer""
The [openSUSE Software page for the SeaMonkey package](https://software.opensuse.org/package/seamonkey) is incorrectly named "SeaMonkey Composer".  It is also named this way in [the search results](https://software.opensuse.org/search?utf8=%E2%9C%93&q=seamonkey&search_devel=false&search_unsupported=false&baseproject=openSUSE%3AFactory), with the misleading description "Web Page Creation with the s

[2018-05-23 07:50] guoyunhe commented on #303
The display name is from AppStream, source code is  seamonkey-appdata.tar.bz2 .

The description is from OBS configuration.

If you feel the naming or description is incorrect, contact the packaging team.

https://build.opensuse.org/package/show/mozilla:Factory/seamonkey

[2018-05-23 08:29] #169 closed

[2018-05-23 08:32] #103 closed

[2018-05-23 10:57] dmacvicar opened #305 "/chameleon/css/typicons.woff not being found"
Some mismatch between chameleon and our templates?

[code]

[2018-05-23 11:08] guoyunhe commented on #305
This is caused by some CSS override.

The original css of Typicons is:

[code]

And I add an override:

[code]

However, CSS still try to load previous font path. Though it should not cause any visible issue, extra HTTP requests should be avoided. I will fix it soon.

[2018-05-23 11:27] coolo commented on #305
BTW: the rails app should reference the css in a versioned way. Right now the HTML references /chameleon/css/app.css which leaves it to whatever is in browser cache to be rendered - as the given max age is 17M seconds (like forever)

[2018-05-23 12:01] dmacvicar commented on #305
I think the problem is that chamaleon is pulled as a git sub module into /public and not into /assets, if we fix that, compiling assets would add the versions I believe.

[2018-05-23 13:19] coolo commented on #305
Especially if using the sass directly from rails asset pipeline

[2018-05-23 20:05] alexandergraul commented on #241
was fixed in #302

[2018-05-23 20:05] #241 closed

[2018-05-23 20:08] alexandergraul commented on #301
I think it is safe to exclude it, the project descriptions says:

From my understanding there should not be anything in it that is not available from TW repos.

[2018-05-24 05:43] coolo commented on #301
right. but it shouldn't even be in the publisher index as publishing is disabled. But it looks like there are old binaries.

[2018-05-24 07:53] coolo commented on #301
@mlschroe can you trigger some cleanup?

[2018-05-24 11:35] dmacvicar commented on #291
Hi @hellcp , are you going to make a PR? What do we need to change to get the right ratio?

[2018-05-24 11:38] hellcp commented on #291
It's quick edit in inkscape. Use calculator to calculate what size the images should be to work properly together (with ratios above) and than apply that in inkscape to objects.

[2018-05-24 17:48] MalloZup commented on #276
@hellcp ciao, i would like to help  by fixing the issue but i couldn't get the issue.

You mean that the 'nvdia' text in the search bar after the research should be removed? tia

[2018-05-24 18:12] guoyunhe commented on #276
@MalloZup I guess he means to add the "blue box" and "alert sign (the triangle icon)" to helper text. "blue box" has already been deployed. Maybe a "alert sign" can also be added.

[2018-05-26 18:05] cboltz opened #311 "software.o.o top menu: wrong order"
Please swap `Download` and `Software` in the top menu to get in sync with the wiki.

In the end, the menu should look like that:

- Download
- Software
- Documentation (note: the wiki still has "Guides", will be fixed when I deploy it next time)
- Wiki
- Forums

[2018-05-29 15:11] Sergeykot opened #315 ""failed to allocate memory""
![screenshot_20180529_154932](https://user-images.githubusercontent.com/892391/40667768-3522a20a-6363-11e8-9232-b49a99be0948.png)

Today I experienced this error showing up every 2-3 request. However this could be not the case anymore. Can not reproduce now

[2018-05-29 19:31] guoyunhe commented on #315
I think this is because our server is overloaded. When too many users are visiting the site, it may use up memory.

We do have to optimize the server because it loads too much data when searching packages.

[2018-05-29 21:28] #305 closed

[2018-05-29 21:34] dmacvicar commented on #315
Duplicate of https://github.com/openSUSE/software-o-o/issues/225

[2018-05-29 21:34] #315 closed

[2018-05-30 09:37] simotek opened #316 "software.opensuse.org search shows results for packages in DISCONTINUED repo's"
It would be nice if software.o.o's search function didn't list unsupported distro's that no longer have binaries published. An example is the following which still lists the official openSUSE 11.1 package although it is not possible to download it

https://software.opensuse.org/package/xpdf

[2018-05-31 08:32] probonopd opened #317 "Link from download page to build.opensuse.org page"
It would be nice if there was a link from the download page to the corresponding build.opensuse.org page. This would enable to check how things are produced, and to give feedback, more easily.

For example, I wonder how https://download.opensuse.org/distribution/leap/15.0/live/ gets made. It would be a great help if the page would link to https://build.opensuse.org/project/show/openSUSE:Leap:15.0:

[2018-05-31 09:17] hustodemon commented on #230
status update: I pinged the openSUSE Heroes about creating a new machine for us, let's see how this turns out.

[2018-05-31 13:56] simotek opened #318 "It is not obvious where to download older still supported Leap releases."
This was raised by a user on the support mailing list.

Now that Leap 15 is out there is no link from software.o.o to the older Leap 42.3 release images that are still supported. It would be nice if there was a single line somewhere near the bottom of the choose leap section or bottom of the page saying you can get images for older supported openSUSE releases from the following location.
http://do

[2018-05-31 15:05] jberry-suse commented on #230
Different from metrics.o.o?

[2018-05-31 15:06] jberry-suse commented on #230
Based on emails I thought were going to add to openSUSE salt master and have it thus installed on metrics.o.o.

[2018-05-31 15:15] jberry-suse commented on #230
If you need ssh access to debug and get things working I can provide if you let me know what pubkey to use.

[2018-06-01 07:16] hustodemon commented on #230
I see. We don't really care where Prometheus is going to be installed, metrics.o.o would be also fine. I'll update my ticket, then.

[2018-06-04 06:38] dmacvicar commented on #316
We get the list of distributions via /distributions.xml in @obs, I don't see a way to change that unless we maintain some kind of metadata on s.o.o itself, which I would prefer not to.

[2018-06-04 09:57] logological opened #320 "Packages not found when distribution filter enabled"
I have noticed that searching for certain packages fails when the "Distribution" filter is set to something other than "ALL Distributions".  For example, if I search for "python3-pelican" with an "ALL Distributions" search, then I get a list of (community) packages for Tumbleweed, Leap 15.0, and Leap 42.3.  But if perform the same search with the "Distribution" filter set to "openSUSE Leap 15.0"',

[2018-06-04 15:47] alexandergraul commented on #273
@guoyunhe do you plan on improving the search result order any more or can I  close this? By the way, if you write

in the PR description, the issue gets automatically closed when the PR gets merged :wink:

[2018-06-04 15:48] guoyunhe commented on #273
Thanks, I think this PR can be closed now.

[2018-06-04 15:48] #273 closed

[2018-06-05 07:13] coogor opened #321 "1-click install file requests non-existing repo (Leap 42.3)"
Following up from https://bugzilla.opensuse.org/show_bug.cgi?id=1094316 :
Trying to install gnuhealth via 1-click install gives the error message:

An error occurred while initializing the software repository. Repository
type cant be determined.

This is probably coming from

     <repository recommended="true">
        <name>openSUSE:Leap:42.3:Ports</name>
        <summary></summary>
        <des

[2018-06-05 08:41] alexandergraul commented on #321
We don't create the one-click-installer .ymp files ourselves, we download and pass them through.

I don't know who is responsible, maybe @coolo or @dmacvicar can help?

[2018-06-05 11:44] logological commented on #303
The `seamonkey-appdata.tar.bz2` file contains three different appdata files, one for the SeaMonkey Browser, one for the SeaMonkey Composer, and one for SeaMonkey Mail & News.  How does the software portal decide which of these files to use for the description?  IMHO it is incorrect to use *any* of them, since the SeaMonkey package contains all three applications.  It should instead be using the de

[2018-06-05 13:07] lnussel opened #323 "add bug reporting link"
I think it would make sense to have a link somewhere on the page that points people here to report bugs with the software.o.o app.

[2018-06-05 13:13] Ana06 commented on #323
and also to the Github code :+1:

[2018-06-05 13:27] Ana06 opened #324 "move urls to a variable"
We have many urls (like https://github.com/opensuse/software-o-o/blob/50c718207bc0eae3a541962f377d9ce0953f30d9/app/views/distributions/leap-15.0.html.erb#L77) repeated all around the code. We should assign them to a variable, so that it is easy to update them. :wink:

[2018-06-05 14:21] #265 closed

[2018-06-07 17:38] guoyunhe opened #325 "Clean up disabled repos"
We have a special package **PCSX2**:
https://software.opensuse.org/package/pcsx2

Only 32bit build works so we disabled 64bit a long time ago. But here is still 64bit one click install by default. Installation will fail on Tumbleweed because it has some quite old dependencies. Even if installation succeeded on some old leap releases, it can not work.

[2018-06-07 18:26] coolo commented on #325
We can't check that - but you can do osc unpublish

[2018-06-08 08:43] hustodemon opened #326 "Add software.o.o to status.opensuse.org"
Configure and use https://www.pingdom.com/ for software.o.o and export the results to status.o.o somehow. This require an account there, sync with @dmacvicar about it.

[2018-06-08 14:10] alexandergraul commented on #299
I still think we should allow a user to see packages for other archs, e.g. arm when browsing from a x86_64 device. Maybe we could add a new option the to search settings?

[2018-06-08 14:40] guoyunhe commented on #299
You can do it by choosing your baseproject. If you choose opensuse factory arm, you can see aarch64 packages. If you choose opensuse factory power, you can see power pc packages.

[2018-06-09 05:59] coolo commented on #299
only by chance. SLE-15 has 4 archs - and leap ports have 2.

[2018-06-09 07:53] guoyunhe commented on #325
@coolo Solved my problem by osc unpublish. Thanks!

[2018-06-09 07:53] #325 closed

[2018-06-09 20:01] guoyunhe commented on #299
then we need another option to select cpu architecture.

[2018-06-10 19:56] bgeuken opened #331 "Use a different color for 'community packages' button"
The current button color is red which makes it look like an error or a button that has irreversible or "dangerous" effect. But it's just expanding some package list.

It's also the same red software-o-o uses for it's warnings and errors which makes it even more confusing.

![image](https://user-images.githubusercontent.com/968949/41205665-f2a212fa-6cf7-11e8-8e86-2999818bb84b.png)

[2018-06-11 10:33] #318 closed

[2018-06-11 11:43] dmacvicar commented on #321
We would need to look into the logic of our search on where that ymp comes from. It may be valid to reopen https://bugzilla.opensuse.org/show_bug.cgi?id=1094316 if we realize that non-existant repo is showing up in the API results, but we need to prove that.

[2018-06-12 06:13] mikemhenry opened #332 "Dead link to Nvida wiki?"
A search for nvidia:
https://software.opensuse.org/search?utf8=%E2%9C%93&q=nvidia
Gives a nice suggestion

But the link is dead, should it be https://en.opensuse.org/SDB:NVIDIA ?

[2018-06-12 08:39] lnussel opened #333 "add link to torrent file"
Leap 15.0 needs a link to openSUSE-Leap-15.0-DVD-x86_64.iso.torrent next to choose mirror etc.

[2018-06-12 11:32] hellcp opened #334 "Give option to change api in convinient way"
As software-o-o is a nice frontend to OBS, it would be nice to open it up to people so they can use it easily with their OBS installations. That would require easy switching of API in some kind of config file.

[2018-06-12 11:41] Conan-Kudo opened #335 "Add support for configuring software-o-o to be just a software/package search/download UI"
For internal, private deployments of software-o-o targeting internal OBS instances, it'd be nice if software-o-o could be used just as a package search/download UI, without the "Get openSUSE" blurb on the landing page and the links on the top bar to point to various openSUSE resources.

I'd like to wire this up to my private OBS instance to offer a nicer experience for downloading and installing s

[2018-06-12 15:17] alexandergraul commented on #334
This is already configurable in [config/options.yml](https://github.com/openSUSE/software-o-o/blob/master/config/options.yml)

[2018-06-12 15:17] #334 closed

[2018-06-15 08:54] alexandergraul opened #337 "redirection forbidden"
Upon going to e.g. /explore no packages load and the following lines are in the server log:
[code]

Since download-o-o uses mirrorbrain to distribute load, we have to support redirection.

[2018-06-15 08:59] alexandergraul opened #338 "search settings button unresponsive"
Clicking on the "Settings" button does not open the settings modal anymore. Users are unable to change the search settings after the first pop up.

[2018-06-15 14:48] Ana06 commented on #338
@alexandergraul a screenshot would be appreciated :wink:

[2018-06-15 16:09] alexandergraul commented on #338
@Ana06 a screenshot would not show much, the problem is that clicking the button does not do anything :cry:

I could try to record a video (does anyone know a recording tool that works in wayland?), but @guoyunhe already found the part of the code that needs to be changed and if you want to see it not-working, it is probably easier to just visit https://software.opensuse.org and click on the "Sett

[2018-06-15 16:19] alexandergraul opened #340 "More packages returned than expected after setting a distribution"
This was reported on the opensuse@o.o mailing list.
The user set distributions to "openSUSE Leap 42.3" and got search results (package: mtpaint) for many distributions, including: Tumbleweed, Leap 15.0, SLE-15, openSUSE 13.x (and older).
The user also mentioned he did not like the popup in the first place.

[2018-06-15 16:27] guoyunhe commented on #338
The reason for this bug is that we have merged two pull requests: one changed dialog/modal id and the other modified the button. In the end, the link between button and modal breaks. I just changed the id and it should work. See #339

[2018-06-15 16:38] guoyunhe commented on #340
First question is reasonable. Current design is the same as the old. It shows all distributions. The only different is that you will have the big one-click install button for your chosen distribution. However, it doesn't make much sense to provide packages that you don't want.

The first time popup is because we don't have a way to detect users' distributions in web browsers. So we ask them to sel

[2018-06-15 16:51] alexandergraul commented on #340
I agree with you on the first part. After a user explicitly chose a distribution, others should not be visible. There is "ALL Distributions" after all...

For the second part I think having it visible next to the search button instead of the pop up helps in the cases of people just searching for software - but we also use the setting for /explore. I think we should come up with another way to dete

[2018-06-16 11:51] alexandergraul commented on #335
Currently the application is not really modular, we would need to change quite a bit in order to achieve this. I can't promise this will happen anytime soon, but I think it is not a bad exercise of refactoring :smile:

[2018-06-16 12:03] alexandergraul opened #341 "Travis: test flickering"
There is one test that fails sometimes. Triggering a rerun of travis often gets the test to pass. This happens in many PRs and while this is not news to some of us, I want to have it documented here so everyone can know about it :smiley:

[Quoting Duncan](https://github.com/openSUSE/software-o-o/pull/327#issuecomment-396136879):

[2018-06-16 12:14] #338 closed

[2018-06-16 13:45] alexandergraul commented on #337
I could replicate this error with this minimal case:
[code]
The issue, as far as I understand it, is that `https -> http` redirections are not allowed using `open-uri`.

One way to deal with this is, if possible, to request re-directions to https-mirrors only. I don't know if there is a way to this, though.
We could also write our own method that replicates `open()` but allows redirections from ht

[2018-06-16 14:07] alexandergraul commented on #332
Fixed in #336

[2018-06-16 14:07] #332 closed

[2018-06-17 08:02] coolo commented on #337
check https://github.com/open-uri-redirections/open_uri_redirections

[2018-06-18 07:50] eduardoj opened #342 "Google Earth download link is wrong"
Clone of https://progress.opensuse.org/issues/29921 (to track everything in Github)

[2018-06-18 08:46] Ana06 commented on #342
@eduardoj what about sending a PR? it shouldn't be a big deal for you :wink:

[2018-06-18 09:59] #342 closed

[2018-06-19 08:10] #337 closed

[2018-06-19 21:32] dmacvicar commented on #341
The problem comes from the test that simulates an "nvidia" search.
That test stubs a random result based on packages named like the search term plus some random suffix.

That stub mocks the http call on a search by substring, as we do expect the search to hit https://github.com/openSUSE/software-o-o/blob/master/app/models/seeker.rb#L29

However, sometimes, the search hits https://github.com/openSU

[2018-06-20 06:43] dmacvicar commented on #341
I have a fix that stubs the missing query, however this code path comes directly from hell.

The code is calling:

[code]

And the stub is

[code]

And here is the culprit of that space:

https://github.com/openSUSE/software-o-o/blob/72ae9d141aa3e6c9c6469eb58fd27483e177aee0/app/models/seeker.rb#L32

Which seems to be a totally out of place space, as then the items are joined, not concatenated.

[2018-06-21 07:55] lnussel opened #347 "add containers tab"
openSUSE Leap 15.0 also builds official docker images along the live images in openSUSE:Leap:15.0:Images. It's not some home grown images someone build somewhere so it's worth to also put that on the official software.o.o site.

How I don't know exactly as it's not a download. The images in the official project get released to dockerhub after testing. So one would just execute "docker pull opensus

[2018-06-21 20:43] cboltz opened #348 "Search settings dialog *always* pops up"
TL;DR/Reproducer: Open a private browser window and visit software.opensuse.org.

When visiting software.o.o, the search settings dialog *always* pops up. Ok, "only" if I don't have the settings cookie yet - but with my default of limiting the cookie lifetime to the session, this is extremely annoying.

This settings dialog is even more annoying (or even confusing) for people who want to download

[2018-06-22 11:07] lnussel commented on #331
sounds like a job for @hellcp :)

[2018-06-22 11:31] lnussel commented on #316
That seems to be an issue with OBS.

[code]

`openSUSE:11.1` doesn't exist anymore though, it's DISCONTINUED:openSUSE:11.1

[2018-06-22 14:13] #341 closed

[2018-06-22 15:28] dmacvicar opened #350 "[DISCUSSION] restart services on update"
Now that the testsuite runs correctly on OBS, I was checking the `.spec` file and noticed:

[code]

I certainly miss `software_opensuse_org` there, as we would want to restart after update, but I wonder if it is a good idea to restart memcached and lose all the cached data.

Opinions?

[2018-06-22 15:29] dmacvicar commented on #348
@guoyunhe what do you think about this feedback?

[2018-06-22 17:56] coolo commented on #350
it depends on what you cache. but with rails you often cache HTML fragments and stuff - and those are pretty hard to get rid of without a restart. It's a cache after all :)

[2018-06-22 21:48] dmacvicar commented on #350
I did not think of that. I was thinking OBS data does not change much, but a cached HTML fragment which changed in the code may introduce hard to debug issues.

I will keep both.

[2018-06-24 14:41] dmacvicar commented on #321
I guess now that ports are filtered this can be closed or?

[2018-06-25 09:44] guoyunhe commented on #348
This is caused by cookies. Here is a JavaScript that detects if you have chosen your distribution and saved in cookies. In private browsing, it is always false and popup the dialog.

Even in normal browsing, it is annoying for some users. I think I should redesign this behavior. The dialog/modal should never popup by itself until you click some buttons.

[2018-06-25 13:43] lnussel commented on #350
I thought the app handles restarting internally and doesn't rely on systemd. the spec file touches restart.txt for that reason

[2018-06-25 13:54] coolo commented on #350
and that restart.txt touching is actually more elegant as it finishes the last request - and is done by passenger afaik

[2018-06-25 15:31] dmacvicar commented on #350
Oh, I thought `restart.txt` is a Passenger thing. I will check if it works.

[2018-06-26 08:36] guoyunhe commented on #347
I recommend to change the "Download" to "Get".

[2018-06-26 09:07] lnussel commented on #347
There are some places were we use Get already indeed. I don't really like it though as it's hard to translate in a meaningful way to eg German :)

[2018-06-27 07:30] coogor commented on #321
Just checked the generated .ymp file, looks good now. Thanks!

[2018-06-27 09:12] #321 closed

[2018-06-28 15:14] dmacvicar commented on #335
It would be nice, and (reviewed) patches in that direction would be accepted.

If you start any work in that direction, please discuss your approach first so that the general design has some consensus.

I will close the issue.

[2018-06-28 15:14] #335 closed

[2018-06-30 11:59] guoyunhe opened #352 "Full size screenshot?"
Does `screenshot.rb` support full size screenshot now? We need it in some places (App Store, package page).

[2018-07-01 11:04] guoyunhe commented on #348
PR #353 will solve this problem.

[2018-07-02 22:20] #291 closed

[2018-07-03 10:06] guoyunhe opened #356 "Page loading speed improvement"
Tested with Google PageSpeed Insights. Here are something can be done to improve page loading spped.

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fsoftware.opensuse.org%2F

[2018-07-04 05:06] coolo commented on #356
you don't need google to figure the page loads way too slow. There used to be heavy caching - is this still in place?

[2018-07-04 16:57] alexandergraul commented on #356
No :cry: . I've accidentally pushed a commit that disabled the cache of the loaded distributions when I was locally testing stuff. Thanks for making me double check.

[2018-07-04 17:37] hellcp commented on #356
That doesn't excuse not putting JS at the end of HTML files so they load last. It would speed up loading frontpage without JS with majority of functionality (because very little of it depends on JS). It would also be nice to compile CSS and JS files into one.

[2018-07-04 19:59] alexandergraul commented on #356
You are right, there is still room for improvement of the load times. We can leave the issue open, but the cache problem is what is causing the difference in load times between now and a month ago and should be deployed fast.

[2018-07-05 04:28] coolo commented on #356
the lowest hanging fruit is definitely putting the cameleon theme into the asset pipeline

[2018-07-05 13:04] #356 closed

[2018-07-06 07:52] dmacvicar commented on #350
I also notice that after an update:

[code]

The service gets disabled.

[2018-07-07 04:17] SagnikSRHUSE commented on #320
Same with 'lutris' as well.

[2018-07-07 20:52] guoyunhe commented on #320
lutris not showing is because of the obs project doesn't correctly build  package for tumbleweed and leap.

[2018-07-07 20:59] SagnikSRHUSE commented on #320
Umm, what do you mean? https://build.opensuse.org/package/show/home%3Astrycore/lutris

[2018-07-11 13:22] hustodemon commented on #352
I'm affraid we are not making screenshots at all. We just download them from some "known" location.
Let's look at gedit, for example: https://software.opensuse.org/package/gedit
We just fetch the screenshot from an external source (https://gitlab.gnome.org/GNOME/gedit/raw/master/data/screenshot.png), make a thumbnail of it and cache it. Whenever you click the thumbnail, you'll be redirected to the

[2018-07-12 06:51] guoyunhe commented on #352
@hustodemon I mean, if we fetch and thumbnail screenshots from external source, we can make several different thumbnail sizes.

1. 600x600 used in search result
2. original size of external image file, used in package page and app store slides.

[2018-07-12 08:50] hustodemon commented on #352
This shouldn't be hard to do. Alternative solution would be to use the external image directly - we already know the URL, without making the thumbnail. I think this would be even better (no extra computation/storage on s.o.o machine).

[2018-07-12 10:14] guoyunhe commented on #352
If we directly load the image, it might not be safe because we cannot ensure that all images come from trusted sites.

[2018-07-14 10:58] kossebau opened #360 "Wrong version "4.8.2" & only "32 Bit" download for some KDE software packages"
**Problem A**

For some packages of software from KDE (possibly those which in former times were part of the then called "KDE Software Collection (SC)") the entry for "openSUSE Tumbleweed" in the "Distributions" list has two errors:
* shows some static wrong version number "4.8.2" instead of real
* only lists "32 Bit" in the "Download" popup

**Problem B**

Additionally for some software which has

[2018-07-16 17:00] SimonGerm commented on #320
The problem is bigger, not only with noarch packages and not only if the distribution
filter is on:

https://software.opensuse.org/
(all distributions, all 3 things marked develop debug and language)
search for:
vice-gtk
all ok, there are the results inside home repos.

BUT:
search for:
vice

it will NOT show the home repos where the package "vice" is inside,
it will only show a lot of results whe

[2018-07-20 08:52] hustodemon commented on #352
Can you please describe in very specific way those pages you need this for? And also why isn't the thumbnail enough? We really need a solid reason for this to implement, before we just implement it.

[2018-07-20 16:00] guoyunhe commented on #352
https://software.opensuse.org/explore

There we need some screenshot images of ~1140px wide.

[2018-07-27 07:54] dmacvicar commented on #352
Not all screenshots we have in appdata are bigger than that, how do you plan to deal with the ones that are smaller?

[2018-07-30 13:51] Vogtinator commented on #163
Ping. I'd remove it myself (it's just a single sentence), but I wouldn't be able to test it.

[2018-08-07 17:29] sknorr opened #362 "Small click targets on download page"
On the Leap and Tumbleweed download pages:

* there is a choice between full and network image (which I think is relevant and understandable to most but probably not all users)

* Tumbleweed has the additional choice between x86_64 and i586 (which is irrelevant to most users at this point because most people use x86_64 hardware; and worse, lots of people might not know they need x86_64)

* Tumblew

[2018-08-10 08:42] dmacvicar opened #363 "Get rid of ActiveXML and create a proper mini-client"
Some initial work here:

* https://github.com/dmacvicar/software-o-o/tree/new_client
  (see 'lib/obs.rb and its test)

[2018-08-17 15:12] alexandergraul opened #364 ""Failed to allocate memory""
After receiving user reports that error messages showed up, I took a look at the log and could confirm:
[code]
I've saved the log on the machine since I don't know what exactly I have to look for or how I could fix it.

[2018-08-17 15:44] alexandergraul commented on #253
This was resolved in https://github.com/openSUSE/software-o-o/pull/270

[2018-08-17 15:44] #253 closed

[2018-08-21 11:30] alexandergraul opened #365 "use published snapshot data for tumbleweed"
Currently Tumbleweed takes its information from openSUSE:Factory, this does not necessarily what is currently available in the latest snapshot (especially if there was no snapshot release in the last days) and confuses users.

One example is `kernel-default`:  `zypper if` ->  4.17.14-1.2 , software-o-o -> 4.18.0

[2018-08-23 02:07] romulasry opened #366 "software.opensuse.org 503"
https://software.opensuse.org/package/Mesa for example.

[2018-08-23 07:55] lnussel commented on #366
unfortunately the app needs to be restarted every once in a while to behave again. any help to debug the cause appreciated. fixed by restarting meanwhile.

[2018-08-23 07:55] #366 closed

[2018-08-24 13:42] alexandergraul commented on #364
duplicate of https://github.com/openSUSE/software-o-o/issues/225

[2018-08-24 13:42] #364 closed

[2018-08-25 14:44] alexandergraul opened #368 "Update CONTRIBUTING.md"
Currently we just mention

Without giving an explicit way how to contact the "relevant people" and who they are. I think we should agree on a medium for that. That is also related to:

GH issues is the natural fallback for suggestions if we don't give another - *easy* - way communicate to us. We could either accept the issues as a feature request tracker (which we already do, we don't close featur

[2018-08-25 20:51] hellcp commented on #362
I agree with this, but there are more issues on that page. Like for example, tabs aren't on different enough background to be noticeable enough to many people. As an example:

![screenshot from 2018-08-25 22-29-19](https://user-images.githubusercontent.com/30577011/44622320-737ebc80-a8b6-11e8-93d6-87e45a5aceab.png)
would improve visibility a lot.

Addressing 'x84_64' is really confusing for the en

[2018-08-27 15:41] alexandergraul commented on #363
I've played with your OBS client a bit and think it is a good approach. I've started working on converting search and package controllers to use this new library instead of Seeker/ActiveXML::Node.

For now we just want to have the same behavior in regards to package sorting and filtering I assume?

[2018-08-27 20:35] oneiros-de commented on #225
Please try to fix this bug before it's six month old.
At least add an alarm to your Icinga and restart the instance manually when needed.

[2018-08-28 08:45] dmacvicar commented on #363
I think the right approach is to convert the controllers you mention, changing as little as possible.

Later, we should make the model classes that use this library put the filtering in the model methods instead of having that amount of spaguetti filtering code in the views. Testing will be easier too, because one can mock the request and test the filtering direclty in the models.

Thanks for look

[2018-08-29 12:04] lnussel commented on #368
+1 for github issues

[2018-08-29 12:06] lnussel commented on #365
I guess the whole idea to model software.o.o around obs binary search hits it's limit. For distros we need to use the actual repodata instead I think.

[2018-08-29 12:08] lnussel commented on #362
:+1:

[2018-08-31 04:55] otaviomad opened #372 "Add link to download page from package page on software.opensuse.org"
When you try to get a package on software.opensuse.com you have to go out of hand to build.opensuse.org, click the download package there so you get redirected back to the download page on software.opensuse.org. This is really confusing, specially for new users. I'd suggest adding a direct link to the download page on the "download" button which doesn't always include the available packages. Maybe

[2018-08-31 13:08] alexandergraul commented on #372
Just to verify that I understand you correctly: You would like to have a link to e.g. this page https://software.opensuse.org//download.html?project=openSUSE%3AFactory&package=neofetch
on this one https://software.opensuse.org/package/neofetch (hidden behind the Download button). Is that correct ?

[2018-08-31 16:00] otaviomad commented on #372
yes! that'd make it more convenient.

[2018-09-03 21:52] dmacvicar commented on #363
I would handle it inside `OBS.search_published_binary` as you describe in 1.,

or alternatively, implement `search_matching_published_binary` that raises an exception (_OBS::PayLoadTooLarge_), then create another method search_matching_or_exact_published_binary that handles the exception and performs the exact query, may be using another method `search_exact_published_binary`. However, I don't thi

[2018-09-03 22:05] dmacvicar commented on #225
@tampakrap Can you help me with a check using the current Heroes monitoring?

I will implement a cron loop curl that greps for "failed to allocate memory" that restarts the service, or [puma_worker_killer](https://github.com/schneems/puma_worker_killer). At least while we finish a OBS client that we can work on.

[2018-09-04 21:48] dmacvicar commented on #225
After talking to @coolo and the ability of puma to gracefully restart workers using SIGUSR1 (all) and SIGUSR2 (rolling), I came up with this script (pardon my bash).

The following script will gracefully request workers to be restarted if the service exceeds _SOFTWARE_O_O_MAX_MEMORY_ (default 2G).

The idea is to create an oneshot service _software_o_o_restarter.service_ and the associated _system

[2018-09-05 08:13] lnussel commented on #225
indpendent of whether the script is actually neded some hints about shell:

[code]
`echo "$((mem/(1024**3)))"`
`echo "$mem" |  numfmt --to=si`

Such a script could be installed as eg /usr/lib/initscripts/legacy-actions/software_opensuse_org/graceful so one could run it via `service software_opensuse_org graceful` (or rcsoftware_opensuse_org graceful if the rc link is installed)

[2018-09-05 08:28] bmwiedemann commented on #225
For the record, we had switched SUSE OpenStack Cloud's crowbar from rainbows to puma in 2015 and been fighting with its memory bloat since then
https://trello.com/c/4xnSOXyH/5-p1-bsc1010211-admin-node-oom-mem-leak-in-puma-processes

When using valgrind on the ruby process, I also discovered that they allocate plenty data structures that are never freed "because it is faster" - making the valgrind

[2018-09-05 14:26] coolo commented on #225
Yeah, I looked at the open issues/PRs - you might get more problems :)

[2018-09-05 14:50] lnussel commented on #225
Duncan Mac-Vicar P. wrote:

Sure. Doesn't collide with what I wrote I think :-)

cu
Ludwig

--
 (o_   Ludwig Nussel
 //\
 V_/_  http://www.suse.com/
SUSE Linux GmbH, GF: Felix Imendörffer, Jane Smithard,
Graham Norton, HRB 21284 (AG Nürnberg)

[2018-09-07 13:12] dmacvicar commented on #225
Closing until this reapears

[2018-09-07 13:12] #225 closed

[2018-09-21 07:49] dmacvicar opened #383 "Failed to allocate memory"
We have various reports of the app failing to allocate memory (#258 #315 #364), however we thought all were related to #225, which by now is work-arounded with automatic restarts.

The longer downtimes we have had in the last days do not reveal much more than network issues. Those show up trying to reach the site:

![screenshot from 2018-09-21 09-40-11](https://user-images.githubusercontent.com/15

[2018-09-23 20:40] #238 closed

[2018-09-29 10:25] #272 closed, assigned to nobody

[2018-10-02 15:50] alexandergraul opened #392 "Link to specific variant of distribution download page does not work"
Our distribution download pages offer different variants/flavors grouped in tabs. Currently, it is not possible to link to a tab e.g. <https://software.opensuse.org/distributions/leap#jeos-ports> still opens the "Installation" tab. This makes sharing e.g. JeOS images harder than it needs to be.

[2018-10-08 06:33] dmacvicar opened #399 "Libraries that can be removed?"
While integrating the asset pipeline, I see some libraries included, which it is not clear that they are used at all:

* [Compass](http://compass-style.org/)
* [JQuery-UI](https://jqueryui.com/)

Can those be removed?

[2018-10-08 07:13] guoyunhe commented on #399
I think they can be removed safely. We don't use them anymore.

[2018-10-09 10:28] guoyunhe opened #400 "Implement one click install with AppStream links"
Many applications support AppStream. AppStream has implemented a URI protocol for one click installation:

https://www.freedesktop.org/software/appstream/docs/sect-AppStream-Services-UrlHandler.html

This protocol is supported by GNOME Software and KDE Discover (maybe more in future).

Compared with YaST one-click installation, it has the following advantages:

1. Safe. Don't add repository by acc

[2018-10-11 13:56] Ana06 commented on #392
Fixed in: https://github.com/openSUSE/software-o-o/pull/401

[2018-10-11 13:56] #392 closed

[2018-10-11 16:21] alexandergraul commented on #311
Right now I don't expect that we change the items itself, so for the meantime I've created a PR. If we want to change the navbar, we should maybe discuss that on opensuse-web@opensuse.org to give other website maintainers a way to participate in that discussion.

[2018-10-11 16:39] alexandergraul commented on #400
There seems to be some initial work done already: https://github.com/openSUSE/software-o-o/pull/358

[2018-10-13 11:29] #311 closed

[2018-10-16 06:58] medwinz commented on #383
Experienced "failed to allocate memory" again today.
![screenshot_20181016_135521](https://user-images.githubusercontent.com/1616257/46998001-804bbe00-d14b-11e8-95b9-3b8e89781745.png)

[2018-10-16 07:55] dmacvicar commented on #383
Thanks. We were alerted by our monitoring.

I was puzzled by it. The puma process was at 3946.421875 MB, but the machine has much more memory. We have a process that automatically restarts the app if it gets too high.

And then it hit me.

Before we had the restarter process @lnussel had added some limit somewhere. After digging into the machine (the config file was monkey patched, and not in the

[2018-10-16 07:56] #383 closed

[2018-10-16 07:57] dmacvicar commented on #368
I think we should mention github issues for the discussion to be documented and gitter for more informal chat.

[2018-10-16 08:40] ikapelyukhin commented on #383
@dmacvicar Yep, seems like `LimitAS` is an equivalent of `ulimit -v`. Not sure if that invokes OOM killer or not.

Documentation on `MemoryMax` suggests that it should invoke OOM killer, but that's going to kill the server in a non-graceful way.

Does `puma_worker_killer` restart the workers gracefully?

[2018-10-16 14:32] ikapelyukhin commented on #383
Still can't allocate memory:

![image](https://user-images.githubusercontent.com/1793699/47023953-10483280-d161-11e8-8e2a-c64f377425f8.png)

[2018-10-17 06:55] dmacvicar commented on #383
I think I forgot _daemon-reload_ due to the changed unit.

[code]

Now it shows _unlimited_.

[2018-10-17 07:06] ikapelyukhin commented on #383
@dmacvicar :+1:

[2018-10-17 07:34] Ana06 commented on #368
@dmacvicar, since when are we using gitter? I am not :confused: I think we should work as open and transparent as possible and for that GitHub issues are great. I agree with @alexandergraul :+1:

[2018-10-17 07:41] dmacvicar commented on #368
Since the last standup.

[2018-10-17 07:47] medwinz commented on #383
@dmacvivar 👍

[2018-10-19 14:47] mlschroe opened #404 "Searching for just a version kills OBS"
If your search string is just "1", the code does a search for any package where the version starts with "1". This currently kills OBS (the query on Factory takes over 2 hours). IMHO software-o-o should reject searches with no package name component.

[2018-10-22 09:04] dmacvicar commented on #383
Finally we reached two days of 100% uptime both in the uptime check and the transaction (simple package search check).

![screenshot from 2018-10-22 10-59-20](https://user-images.githubusercontent.com/15332/47285121-1c614380-d5ea-11e8-9e35-55078c65feb8.png)

![screenshot from 2018-10-22 11-00-38](https://user-images.githubusercontent.com/15332/47285120-1bc8ad00-d5ea-11e8-9b96-daa286f7e153.png)

[2018-10-22 10:15] medwinz commented on #383
great to know, well done @dmacvicar 👍

[2018-10-22 10:42] dmacvicar commented on #404
https://github.com/openSUSE/software-o-o/blob/2cc8faf1679fce664c95bd3aebf4900af0eed826/app/models/seeker.rb#L23

[code]

I think we could change that logic to complain both if words or project is blank.

[2018-10-22 11:09] ikapelyukhin commented on #383
@dmacvicar There are quite a lot of mod_proxy errors in the apache log, e.g.:
[code]

Seems like some requests are timing out on the backend. Maybe these coincide with `puma_worker_killer` restarts, or maybe some searches are just that slow.

[2018-10-22 12:25] dmacvicar commented on #404
PR above. I still think this is not the right place for the fix. The OBS API should return _400 Bad Request_ or something. It is the API who does not want to be called like this by _any_ client.
_software.o.o_ should just deal with the return code.

[2018-10-22 12:43] dmacvicar commented on #383
@ikapelyukhin I thought it could be related to https://github.com/openSUSE/software-o-o/issues/404 , but that is a normal query on a search term.

For the _puma_worker_killer_ hypothesis, it depends on the amount of errors.

[2018-10-22 13:03] ikapelyukhin commented on #383
@dmacvicar OK. I'll take another look at the logs and maybe see what kind of messages a slow query produces, and create a new issue if necessary.

[2018-10-23 08:47] alexandergraul commented on #372
Actually I think it would be better if the "Download" button sends the user to the download page which offers multiple ways to add a package to a system. I don't know how many users download the rpms directly, that should not be one of the two prominent ways in my opinion.

What do you think @guoyunhe @hellcp @dmacvicar @ikapelyukhin?

[2018-10-23 09:17] hellcp commented on #372
I was actually gonna make that happen, although that will require fixes to both sites. Obviously, it's a great idea, the current way is really overcomplex.

[2018-10-23 12:55] dmacvicar commented on #372
I like the idea.

We could rework the download page later. I dislike that the search bar is there when you are choosing the project and the download method.

[2018-10-23 20:31] guoyunhe commented on #372
I think the actual user need is to provide command line installation and rpm downloads on package page.

Currently we already have a very long list in package page because we list all distributions (hidden by default). I feel this is not necessary. Since users can choose distribution in settings, we can only show packages for his/her chosen distribution. Then we can have enough space for command l

[2018-10-24 05:18] coolo commented on #372
But users visiting this page aren't regulars on software.oo, but would come from 3rd party web pages linking "we build binaries using OBS". So please don't mix the "package page on software.oo" and "download page from OBS" use cases too heavily

[2018-10-24 06:52] dmacvicar commented on #372
@coolo I think the idea is to replace the download link with that page, as it is a superset of what is currently there (rpm download link, vs link to the rpms + zypper repos instructions, etc)

[2018-10-24 09:37] Ana06 commented on #368
@dmacvicar it seems I got an email, I've just seen it :rofl: I agree to document that Gitter can be used for  informal chat and questions if some of you are there, although I would try to keep discussions in Github as much as possible (at least documente conclusions and reasoning for those conclusions), so that it is easy to follow and parcitipate for everybody.

so I would say that we all agree t

[2018-10-24 15:36] alexandergraul commented on #372
@dmacvicar right, that is my idea. But @coolo has a point:

Right now the "normal software-o-o" users look for a package and see a "Download" button which only offers the rpm and source rpm plus a one-click-install button. Instructions for zypper are missing for these users. We generally know what OS this type of user is looking for (from the cookies) so we only need to provide instructions for on

[2018-10-26 12:34] dmacvicar opened #412 "Move back the chameleon gem into the main repo"
Deployment got complicated.

# Before

* Push to git
* Rerun _service _only_ if deps changed
* Wait for package rebuild
* Update package on server

# After

* Push to git
* If theme or transformation logic (proxy gem) is changed, fix it in its git
* Push a new gem to rubygems
* Rerun _service _only_ if deps changed
* Wait for package rebuild
* Update package on server

# What we could do

* If the

[2018-10-26 13:03] dmacvicar commented on #305
btw, now even the fonts are versioned, thanks to @ikapelyukhin

[2018-10-29 10:57] alexandergraul commented on #412
What exactly is the problem with the proxy gem?

[2018-10-29 17:46] Ana06 commented on #412
More details wanted! :confused:

[2018-10-29 20:44] dmacvicar commented on #412
Edited
@ikapelyukhin could add more

[2018-10-29 20:44] #404 closed

[2018-10-29 21:12] ikapelyukhin commented on #412
Packaging assets into gems is useful for assets that are used in lots of Rails application, e.g. Bootstrap. Using the proxy gem isn't needed: it's not used anywhere else and it makes deployment more complicated (i.e., during deploying my fixes we've realized that we forgot to bump up the version of the gem in `Gemfile.lock`, fixing this required a new PR and rebuilding the package).

Testing chang

[2018-10-29 21:13] ikapelyukhin commented on #412
@openSUSE/software-o-o-maintainers my comments added above ^^^ :grimacing:

[2018-10-31 16:25] alexandergraul commented on #412
Thanks for the explanation, now I understand why it makes sense to move the theme-into-asset-pipeline logic back to this repo.

What I like about the idea of the proxy gem is that it could be reused by other Rails project. But I just looked through [github/openSUSE](https://github.com/openSUSE) and could not find anything that might benefit from it, so that is not a good reason for us to make our

[2018-11-05 14:19] moozaad opened #419 "Missing results in search"
https://software.opensuse.org/search?q=nut&baseproject=openSUSE%3AFactory&search_devel=true&search_unsupported=false

If you have the right options set, a query as simple as https://software.opensuse.org/search?q=nut doesn't work.

It should show https://software.opensuse.org/package/nut but doesn't.

Old admin report is here: https://progress.opensuse.org/issues/10836

[2018-11-05 22:14] alexandergraul commented on #419
Could this be the same as https://github.com/openSUSE/software-o-o/issues/320?

[2018-11-06 07:04] #419 closed

[2018-11-06 07:05] moozaad commented on #320
I'll paste this in from my age old admin ticket and the other issue I raised (now both closed).

https://software.opensuse.org/search?q=nut&baseproject=openSUSE%3AFactory&search_devel=true&search_unsupported=false

If you have the right options set, a query as simple as https://software.opensuse.org/search?q=nut doesn't work.

It should show https://software.opensuse.org/package/nut but doesn't.

[2018-11-08 11:32] ikapelyukhin commented on #412
I'll move the assets.

[2018-11-09 13:07] #412 closed

[2018-11-09 13:24] dmacvicar opened #424 "Create issue template"
We are getting issues that change html without following the guidelines described in CONTRIBUTING.
(eg. https://github.com/openSUSE/software-o-o/pull/420 changes html without adding before after screenshots.)

We may add a template remembering contributors about that.

[2018-11-09 16:01] ikapelyukhin opened #425 "Fix the logo that broke with the assets change"
![image](https://user-images.githubusercontent.com/1793699/48273407-1ddf9800-e441-11e8-8ee1-c9c85cc86695.png)
Geeko, come back!

[2018-11-11 19:18] alexandergraul commented on #323
Hey @mananmongia , thanks for your engagement!
The idea is to have two new links on the page. One for https://github.com/openSUSE/software-o-o that is called something like "Repo" , "Code" or "Developed at github". The other should link to https://github.com/openSUSE/software-o-o/issues/new and be called something like "Report Bugs".  The links should be present at all times, therefore it makes se

[2018-11-12 10:38] #425 closed

[2018-11-13 10:32] alexandergraul commented on #323
great! just ask away either here, in your PR on in our [gitter chatroom](https://gitter.im/openSUSE/software-o-o) if you have any question!

[2018-11-13 20:49] mananmongia commented on #323
did as said :),
do suggest any updates/bugs for any this merge #427

[2018-11-16 03:50] hellcp opened #431 "Seperate kubic from tumbleweed"
I think it's the time for Kubic to be a big boy. Also choice between net-install, DVD and Kubic is confusing at very least (and doesn't really reflect the function of Kubic).

Paging @sysrich

[2018-11-16 18:02] mananmongia commented on #246
hi @sknorr ,
there was no "Get" button when in Searched, can u please share a ScreenShot of the same...!

I am willing to work on it! , if there is something like that

[2018-11-20 12:11] alexandergraul commented on #431
If you want to pick this up, here is a small list of things that should be done:

- add `app/views/distributions/kubic.html.erb`
- add kubic route to `config/routes.rb`
- add kubic method to `app/controllers/distributions_controller.rb`
- adapt `app/views/distributions/index.html.erb` to include and link to kubic

[2018-11-21 10:45] sknorr commented on #246
@mananmongia, thanks for looking into this. It seems that the UI has already been fixed, -> closing this issue.

[2018-11-21 10:45] #246 closed

[2018-11-21 14:29] alexandergraul commented on #89
https://github.com/opensuse/software-o-o/commit/29e0f58277ba0eebe7a91dfbca77f35207971999 changed the screenshot generation and generated thumbnails are served from /public (default screenshots are served via asset pipline)

[2018-11-21 14:29] #89 closed

[2018-11-21 15:11] alexandergraul commented on #303
The way I read the source code (first time looking into appdata related stuff), we look for all appdata-"apps" that fit the search term and then remove duplicates, keeping the first hit. The order we get from Factory is kept the same I think. For cases like this it does not play a big role, as, like you said, all three are not good enough.

At the moment appdata descriptions are used if available

[2018-11-21 18:22] probonopd commented on #317
Yes, that would be an improvement. Thanks.

OK, will ask there as well. Again, thank you.

[2018-11-22 15:54] #333 closed

[2018-11-22 19:42] DanielNoga opened #435 "Logo is missin"
In left corner of the page https://software.opensuse.org/ is just text openSUSE logo instead of image

![screenshot_20181122_204200](https://user-images.githubusercontent.com/2734126/48920094-1b485e00-ee97-11e8-8541-84fcc5c18102.png)

[2018-11-22 19:48] alexandergraul commented on #435
Thanks for your report @DanielNoga !
This was already corrected in the code in PR https://github.com/openSUSE/software-o-o/pull/426, it is pending deployment at the moment :)

[2018-11-22 19:48] #435 closed

[2018-11-30 17:10] hellcp commented on #331
That will come as a part of another revamp I'm working on for package show, but I will wait for @alexandergraul to work on controllers there first, we need to expose some stuff in both package show and download, and simplify the interface a lot because it's stupidly complex.

[2018-12-02 10:31] #368 closed

[2018-12-02 10:33] #424 closed

[2018-12-03 09:34] lnussel commented on #400
I'm all for this but the architecture of sofware.o.o is not made for this yet. software.o.o needs to know about each distro and transition away from the obs search centric way IMO

[2018-12-14 07:52] mananmongia commented on #347
I agree with your point @lnussel ,
can u assign me this issue?

[2018-12-14 08:12] mananmongia commented on #331
is this issue already solved ?

[2019-01-02 12:04] lnussel commented on #347
go ahead, you can assign yourself, or just file a pull request with a fix :)

[2019-01-03 16:16] cboltz opened #455 "software.o.o shows "openSUSE Logo" as _text_"
(initially noticed by knurpht, see https://progress.opensuse.org/issues/45680)

Instead of showing the openSUSE logo in the top-left corner, software.opensuse.org shows the **text** `openSUSE Logo` there, which is in the `alt=` part of the `<img>` tag. (The text is also mis-aligned, but that's just a side note.)

Right-clicking this text + "show image" leads to https://software.opensuse.org/images

[2019-01-03 16:18] alexandergraul opened #456 "Use GitHub "Checks""
I want to propose that we use GitHub [Checks](https://developer.github.com/v3/checks/) for Travis.
Travis can report to the "Checks" tab in Pull Requests, providing more information than just "passed/failed". https://github.com/openSUSE/software-o-o/pull/454 adds multi-version testing (Ruby 2.4, 2.5, 2.6), but as that PR shows, Travis only reports "passed". The "checks" tab can show more informati

[2019-01-03 16:20] alexandergraul commented on #455
This was fixed in https://github.com/openSUSE/software-o-o/pull/426 and is pending deployment.

[2019-01-07 15:38] alexandergraul commented on #456
Update: We have to work on travis to enable travis-ci.com for existing open source projects. Until then, there is nothing we can do to make use of the "checks".

[2019-01-07 22:13] #456 closed

[2019-01-11 18:04] cboltz opened #462 "copyright year in footer outdated"
(initially reported by [Nivesh] Doosan Pagooah in the opensuse-web mailinglist)

The footer on software.o.o says `© 2011–2017 openSUSE Contributors`.

It's 2019 ;-) - please update the copyright year.

[2019-01-17 14:02] alexandergraul commented on #462
Fixed in #460

[2019-01-17 14:02] #462 closed

[2019-01-18 14:48] alexandergraul opened #465 "Authentication via cookie does not work"
A cookie for authentication is used in production and without it no data exchange between OBS and software.o.o is possible.

lib/obs.rb, which uses the Faraday Gem for all http connectivity, does not support this kind of authentication yet.

[2019-02-09 10:52] cboltz commented on #455
Any idea when this will be deployed? Not showing our logo for months doesn't make us look too good...

[2019-02-11 16:03] #348 closed

[2019-02-11 16:03] #362 closed

[2019-02-11 16:03] #431 closed

[2019-02-12 09:59] lnussel opened #474 "remove testing flash message"
the flash message that says 'Help test the next version of openSUSE Leap!' is kind of annoying IMO. Can we put text that explains that 15.1 is in testing right where 15.1 is instead?

[2019-02-12 15:38] lnussel opened #476 "missing Alpha/Beta state in 15.1"
When viewing 15.1 the page is supposed to show "testing_state" from config/releases.yml somewhere

[2019-02-14 09:44] #476 closed

[2019-02-14 13:19] #465 closed

[2019-02-15 13:52] #455 closed

[2019-02-15 13:52] dmacvicar commented on #455
Deployed

[2019-02-15 13:52] dmacvicar commented on #363
This is deployed!

[2019-02-15 13:52] #363 closed

[2019-02-15 21:16] agraul opened #482 "TW Installation tab: tags don't fit in one line"
After I deployed the changes in https://github.com/openSUSE/software-o-o/pull/481, the tags (x86_64, i586, aarch64) don't fit in one line anymore.
This only happens in Firefox, Chromium looks fine. It could be due to configuration on my end, I did not try with a different PC with a different Firefox configuration.
This is what it looks like:
![installation-tab](https://user-images.githubuserconten

[2019-02-15 21:18] hellcp commented on #482
I have them inline on FF 64.0 :/

[2019-02-15 21:19] hellcp commented on #482
Oh yeah, they do change depending on screen size, maybe we could just make them in col's so they either are all inline with text or all under text?

[2019-02-17 14:06] BrigitteHuber opened #485 "download page recommends downloadthemall! for Firefox- but it is not working any more since Firefox 57"
The download page https://software.opensuse.org/distributions/leap recommends using the Metalink with DownloadThemAll! for Firefox. DownloadThemAll! is not working any more in Firefox since version 57.

[2019-02-22 15:18] alexandergraul opened #488 "Solve Layout/EmptyLineAfterGuardClause offenses"
This cops checks for an empty line after a guard clause. For more information see https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutemptylineafterguardclause

This cop supports [auto-correction](https://rubocop.readthedocs.io/en/latest/auto_correct/).

[2019-02-22 15:20] alexandergraul opened #489 "Solve Layout/LeadingBlankLines offenses"
This cop checks for unnecessary leading blank lines at the beginning of a file. For more information, see https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutleadingblanklines

This cop supports [auto-correction](https://rubocop.readthedocs.io/en/latest/auto_correct/).

[2019-02-22 19:35] czerw opened #490 "Incorrect description for Openstack-Cloud images"
There is incorrect description on https://software.opensuse.org/distributions/testing  for Openstack-Cloud images. It says "For running virtual machines in VMware".

[2019-02-23 11:36] alexandergraul commented on #490
This was fixed in https://github.com/openSUSE/software-o-o/pull/487 and will be corrected on the next deployment.

[2019-02-23 11:36] #490 closed

[2019-02-23 11:49] alexandergraul opened #491 "Use lib/obs instead of ApiConnect"
`lib/obs` and `ApiConnect` serves the same purpose, querying OBS via http. Only one library should be used to reduce duplication of logic. Places `ApiConnect` is currently used:

app/controllers/obs_controller.rb:
- line 24: `response = ApiConnect.get("public/distributions")`

app/controllers/download_controller.rb:
- line 14: `api_result_images = ApiConnect::get("/published/#{@project}/images")`

[2019-02-23 11:52] #474 closed

[2019-03-07 16:31] alexandergraul opened #500 "Handle parameters properly"
Using the web application locally in development mode shows many "unpermitted parameters" in the log. These parameters are actually used and therefore should be permitted in the controllers.
E.g.:

or

There is also the `required_parameters` method that might not be needed anymore. Rails has `params.require` that maybe could be used instead ([Docs](https://guides.rubyonrails.org/action_controller_

[2019-03-07 17:32] pgnd opened #501 "search not finding existing repos/packages (e.g., Uyuni @ systemsmanagement:/...)"
search for

	https://software.opensuse.org/search?q=uyuni

currently returns nothing/empty.

But this

	https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Master/openSUSE_Leap_15.0',

certainly exists. Why is it not found/returned?

From #opensuse-admin:

[2019-03-07 17:42] alexandergraul commented on #501
Thank you for the report @pgnd!
This could be related to #320 and #340. We have to take a look at the translation from /search queries to OBS API calls.

[2019-03-07 17:45] pgnd commented on #501
fwiw, it _does_  return if you search on 'uyuni' at:

https://build.opensuse.org/project/list_public

[2019-03-07 17:52] alexandergraul commented on #324
Now all urls are defined per distro in app/data, e.g. https://github.com/openSUSE/software-o-o/blob/613fc16987ea2cccd2f71e69178f5f899a1be461/app/data/tumbleweed.yml.erb. I think this is already a lot easier to update. We might be able to shorten the URLs in those yaml files if we create a helper for expanding them in the views.

[2019-03-08 13:32] lnussel opened #502 "string "Network" needs context"
There's a comment in Weblate about the string "Network"

So either it needs to be marked with context or a different English word be used.

[2019-03-08 16:17] alexandergraul opened #503 "Two cookie_serializer initializers"
There are two contradicting `cookie_serializer`s initialized:
[code]

`:marshal` was the default before 4.1, since then a JSON serializer is used. `:hybrid` accepts `:marshal` and helps with migrating to `:json`. See Rails' upgrading guide for more information: https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#cookies-serializer

I think we should move "config/initializers/hybrid_cookies

[2019-03-10 18:56] klaus-halfmann opened #504 "Widelands R19 for SuSE crahes when used with an offical version on OSX"
I am develooper for wideland adn you can contact me via widelands.org as Hasi50 or via this BugReport. I recently had a visitor in the widelands ingame-lobby with a R19 version of widelands running on Open-SuSE Leap:
* It does not report with a plain R19 relase number but some other, derived, build number.
* When trying to join a network game the client crashes
* hosting did not work for unknown r

[2019-03-11 08:22] LeTink opened #505 "gpg key for ubuntu 16.04 has expired."
W: GPG error: http://download.opensuse.org/repositories/home:/osmc/xUbuntu_16.04  Release: The following signatures were invalid: KEYEXPIRED 1552090870
W: The repository 'http://download.opensuse.org/repositories/home:/osmc/xUbuntu_16.04  Release' is not signed.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for rep

[2019-03-11 13:56] alexandergraul commented on #504
This repo is for https://software.opensuse.org and not a general bugtracker for software on openSUSE. Please use [bugzilla](https://bugzilla.opensuse.org) for that.

[2019-03-11 13:56] #504 closed

[2019-03-11 18:24] alexandergraul commented on #505
Hi, this repo is only for https://software.opensuse.org. Please raise this issue on the [mailing list](https://lists.opensuse.org/opensuse-buildservice/)
 or in irc (freenode: #opensuse-buildservice).

[2019-03-11 18:24] #505 closed

[2019-03-13 13:42] alexandergraul opened #506 "Anchor links naming scheme"
Currently, all anchor links to the tabs all end with `-ports`. This means the installation (default) tab is called https://software.opensuse.org/distributions/leap#Installation-ports for Leap and https://software.opensuse.org/distributions/tumbleweed#Installation-ports for TW.

They are also capitalized while all other URLs are all-lowercase.

My suggestion is to drop the `-ports` part of those UR

[2019-03-18 18:46] guoyunhe opened #510 "Delete extra-cmake-modules RPM in M17N repository"
Package has been deleted in OBS but out-dated RPM still in download.opensuse.org and software.opensuse.org

http://download.opensuse.org/repositories/M17N/openSUSE_Tumbleweed/i586/extra-cmake-modules-5.28.0-118.2.i586.rpm

[2019-03-18 19:16] coolo commented on #510
software.opensuse.org is just a web frontend - please file a bug or write email to the obs user maintaining the repo

[2019-03-18 19:16] #510 closed

[2019-03-19 07:39] magd1978 opened #511 "freerdp and libfreerdp2 updates for Leap 15.0 are broken"
The freerdp-2.0.0-rc4-lp150.2.3.1 and libfreerdp2-2.0.0-rc4-lp150.2.3.1 packages updates for Leap 15.0 are broken. Cannot connect to RDP services:

Revert to freerdp-2.0.0-rc2-lp150.1.1 and libfreerdp2-2.0.0-rc2-lp150.1.1 fixes the issue.

[2019-03-19 08:45] coolo commented on #511
Please use bugs.opensuse.org for bug reports

[2019-03-19 08:45] #511 closed

[2019-03-20 08:46] maurizioda opened #514 "Old Browser"
page:
https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=openSUSE%3ALeap%3A15.1&q=waterfox

It worked before!
does not work with old browsers (Midori, waterfox)
he says he can't find the package

[2019-04-01 16:34] keichwa opened #523 "What does "PC" mean?"
You say (if you click aarch64):

which sounds strange.  PC is not an architecture...

[2019-04-01 16:44] coolo commented on #523
wikipedia says:

https://en.wikipedia.org/wiki/IBM_PC_compatible

So 'PC' *is* an architecture.

[2019-04-02 05:50] keichwa commented on #523
Interesting ;)

[2019-04-03 11:17] vinzv commented on #514
Yep, can reproduce that with Midori 0.5.11 (Leap 15).

[2019-04-03 13:26] oleaamot opened #524 "Update to gnome-internet-radio-locator 2.0.0"
gnome-internet-radio-locator 2.0.0 is available, but not yet in Leap or Tumbleweed.

https://download.gnome.org/sources/gnome-internet-radio-locator/2.0/gnome-internet-radio-locator-2.0.0.tar.xz

[2019-04-03 20:21] alexandergraul commented on #524
<https://software.opensuse.org> only displays information about package information it gets from [OBS](https://build.opensuse.org). This is not the right place for package update requests.
 Please reach out to the package maintainer or update the package and send a submit request on OBS ;)

[2019-04-03 20:21] #524 closed

[2019-04-03 20:22] alexandergraul commented on #514
Thanks for reporting that! I'll tag it for now, I am not sure how much time I can spend on this in the near future, if anyone wants to take this issue feel free to leave a comment.

[2019-04-05 17:29] alexandergraul commented on #276
fixed in 5e92ce24

[2019-04-05 17:29] #276 closed

[2019-04-07 18:34] gooly opened #527 "Failed to update right after installation ??"
After installing opensuse.leap I get this message:
Download (curl) error for 'http://download.opensuse.org/distribution/leap/15.0/repo/non-oss/repodata/repomd.xml':
Error code: Connection failed
Error message: Could not resolve host: download.opensuse.org

Do you have a better image or what do I have to change where so that opensuse is able to update itself!!

[2019-04-08 12:24] spmorton opened #528 "Software updates spikes plasmashell memory usage"
Large numbers of pending updates displayed by software update causes large memory consumption of plasmashell and high CPU usage while the information is prepared for presentation.
Example - 7000+ updates pending(mostly texlive)
spikes memory to 3.5GB and hangs CPU usage on one core to 100% for about 2 minutes

[2019-04-08 12:24] spmorton commented on #528
Additionally - Leap 42.3

[2019-04-08 12:30] coolo commented on #528
Please report plasmashell bugs following bugs.opensuse.org - this is just for the software hosting software.opensuse.org

[2019-04-08 12:30] #528 closed

[2019-04-09 00:39] itJunky opened #530 "Where i can download qcma?"
https://software.opensuse.org/download/package?project=home:codestation&package=qcma
here is broken link and i get 404 when try to go to download .deb file

[2019-04-09 05:20] coolo commented on #530
works fine here. must have been a temporary glitch

[2019-04-17 09:54] lnussel commented on #523
suggestions to improve content welcome nevertheless :)

[2019-04-18 09:40] alexandergraul commented on #527
Hi,
this is the issue tracker for https://software.opensuse.org.

Your problem could be related to an issue with your mirror (download.opensuse.org redirects you to a download mirror), with your network or dns configuration or a number of other things.

Do you still have the same problem or did it solve itself in the meantime?

[2019-04-18 09:40] #527 closed

[2019-04-18 09:43] alexandergraul commented on #530
works fine for me too. closing for now, let us know if the problem comes back @itJunky

[2019-04-18 09:43] #530 closed

[2019-04-24 11:33] lnussel opened #542 "provide stable links for distro versions"
In order for the countdown to always link to the correct release on software.o.o it would be helpful if we had e.g. a /distributions/leap/15.1 route that redirects either to /distributions/testing or /distributions/leap, depending on time and configuration in releases.yml

See https://progress.opensuse.org/issues/39458

[2019-04-29 22:20] DanielNoga opened #548 "search settings cancel button does not work"
- https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=kwin
- Click on Settings icon
- Click Cancel button

Uncaught TypeError: i[0].reset is not a function
    at HTMLButtonElement.<anonymous> (application-9e836948a626daf53123f1916f393471822b7dbe6491dc6bbc2b9f49d85e66e7.js:6)
    at HTMLButtonElement.dispatch (application-9e836948a626daf53123f1916f393471822b7dbe6491dc6bbc2b9f49d8

[2019-04-29 22:21] DanielNoga opened #549 "undefined method `gsub' for nil:NilClass for package intel-opencl-neo"
https://software.opensuse.org/package/intel-opencl-neo throws an error: undefined method `gsub' for nil:NilClass

[2019-04-30 18:21] alexandergraul commented on #549
Good catch!

[2019-05-01 20:30] Ana06 commented on #500
I think we should use `strong parameter` from Rails: https://edgeguides.rubyonrails.org/action_controller_overview.html#strong-parameters which should be defined per controller. Something like:

[code]

[2019-05-01 20:39] Ana06 commented on #500
[strong paramethers](https://edgeguides.rubyonrails.org/action_controller_overview.html#strong-parameters) are mean to be used for mass assignments of Active Models, which we don't have here. I propose to just drop it. You could move those _validations_ to the route.

[2019-05-01 20:43] Ana06 commented on #549
This should return a 500 and not show the error to the user in the UI. It seems we are catching exception we shouldn't. :eyes:

[2019-05-01 21:04] Ana06 opened #555 "Do not show Exceptions to the user"
In https://github.com/openSUSE/software-o-o/issues/549 you can see that we are catching exceptions like `undefined method` and showing them to the user in the UI instead returning a 500.

[2019-05-01 21:09] Ana06 commented on #549
This breaks all packages without description.

[2019-05-02 12:14] #549 closed

[2019-05-02 19:13] alexandergraul commented on #548
It looks like this only happens after running `RAILS_ENV=production bin/rails assets:precompile` and not in the regular development environment.

[2019-05-06 06:29] #542 closed

[2019-05-06 09:33] alexandergraul commented on #542
@lnussel This is deployed, the route is `/distributions/leap/15_1` (rails does not like the dot without workarounds)

[2019-05-06 19:56] vinzv opened #561 "Translations out of date"
At least the note for live ISOs is missing translations:
![image](https://user-images.githubusercontent.com/74432/57251189-7a66ed00-7049-11e9-8a26-074c5454303e.png)

As far as I can see the origin string is not in locales/software.pot and therefore not in weblate. Suspectively there are some more but I haven't checked it. Could someone please update the .pot file and push it to weblate?

[2019-05-06 20:10] vinzv commented on #514
Some more observations (midori 8, TW) step by step:
1. Open software.opensuse.org in a private window if you have visited in the current browser before.
2. Search for "waterfox" leads to no results and [this URL](https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=waterfox).
3. Switch the dropdown to _Tumbleweed_ and let the page reload → no results and [this URL](https://softwar

[2019-05-07 09:32] alexandergraul commented on #561
I have not worked with weblate before, but looking at the last update (29bad04bd436ba3ef41df8bee7848e879efcc10e) I guess I just need to run `rake gettext:find` and commit that.

[2019-05-07 09:38] lnussel commented on #561
should be "rake updatepo". README.i18n is a bit out of date but that should be correct

[2019-05-07 09:43] alexandergraul commented on #561
ok, I ran `rake updatepo` and updated the RP

[2019-05-08 21:09] z3ntu opened #565 "Debian/Ubuntu download instructions are confusing"
The text says

But it's not like the "adding the key" step is optional as apt will complain otherwise.
I'd merge the two sections (adding the repo and adding the key) into one and adding the warning above.

And why is the warning there anyways? The same applies for all distros afaik, where malicious updates could be provided through a third-party repo.

(If just the text is changed a bit and the t

[2019-05-08 21:14] z3ntu opened #566 "Provide direct distro links to OBS package download"
![image](https://user-images.githubusercontent.com/3768500/57408767-d450e980-71e6-11e9-8f29-25e544f40998.png)

I'd like to be able to link to this view (expanded distro and instructions) from our project website directly, but this doesn't seem to be possible.

[2019-05-10 08:10] #561 closed

[2019-05-10 14:37] mkvasnicka opened #567 "TeXmacs deb file not available"
Hi!

Many thanks for providing TeXmacs to Ubuntu users. However, it seems that for some time the TeXmacs deb file is not on the server.

Best wishes,
Michal

[2019-05-13 12:51] lnussel commented on #542
Thanks! I've file https://github.com/openSUSE/landing-page/issues/149 to adjust the landing page

[2019-05-19 18:02] cboltz opened #576 "software.o.o doesn't find *-devel packages"
forwarded from https://progress.opensuse.org/issues/51626

Since a considerable time (I think days maybe weeks) searching for -devel packages on software.opensuse.org is broken. The checkmarks for devel, language and debug packages are never saved and devel packages are not searchable no matter what I try. But I can find the devel packages when I do e.g. zypper se xyz, and I verified this with sev

[2019-05-19 18:25] audaki commented on #576
I've created a pull request which should fix the issue, it's a simple javascript error:

#577

[2019-05-19 20:39] audaki commented on #548
Fixed with pull request #577, also related to issue #576

[2019-05-20 12:46] alexandergraul opened #578 "Javascript readability regard forms can be improved"
Considering the refactoring it might make more sense to improve the code readability and fix this issue at the same time by introducing 2 variables:
[code]

_Originally posted by @audaki in https://github.com/openSUSE/software-o-o/pull/577#issuecomment-493780611_

[2019-05-20 12:48] alexandergraul commented on #578
The file that could be modified is [app/assets/javascripts/search-settings.js](https://github.com/openSUSE/software-o-o/blob/master/app/assets/javascripts/search-settings.js)

[2019-05-20 15:09] #576 closed

[2019-05-20 15:09] #548 closed

[2019-05-20 18:03] audaki opened #579 "Package Version is reported wrongly in "official" repo"
If you look at the following package under Tumbleweed experimental packages:

https://software.opensuse.org/package/cmake

The version next to devel:tools:building and windows:mingw is displayed as 3.7.1 but that file does not exist anymore since a long time (2.5 years to be exact) and the real version is 3.14.1

So the link to the package as well as the version is wrong.

I think this is a seriou

[2019-05-21 10:49] #323 closed

[2019-05-21 11:23] alexandergraul commented on #252
Thank you for copying this over from bugzilla @logological. I just tried it out and the expectation is met, searching for "ack" redirects to /package/ack. If this changes or does not work for you please re-open the issue!

[2019-05-21 11:23] #252 closed

[2019-05-21 11:42] alexandergraul commented on #360
-- @audaki https://github.com/openSUSE/software-o-o/issues/579#issue-446242247

[2019-05-21 11:42] alexandergraul commented on #579
There are quite a number of related search related issues. I've labeled them ([list of issues](https://github.com/openSUSE/software-o-o/issues?q=is%3Aopen+is%3Aissue+label%3A%22Search+%3Amag%3A%22)). This specific issue sounds like a the same as in https://github.com/openSUSE/software-o-o/issues/360. I've copied your comment over to track it in one thread.

[2019-05-21 11:42] #579 closed

[2019-05-21 11:45] alexandergraul commented on #39
This was done in the meanwhile.

[2019-05-21 11:45] #39 closed

[2019-05-21 14:24] lnussel opened #581 "release notes for leap do not point to correct location"
Release notes link points to
https://doc.opensuse.org/release-notes/x86_64/openSUSE/Leap/
 but should point to the directory with the version in it

[2019-05-22 09:56] #581 closed

[2019-05-25 09:56] mseidl opened #586 "Nethack not found, but is found in download.suse"
![op](https://user-images.githubusercontent.com/729087/58367826-14e97c00-7ee4-11e9-8fe6-d656dc48be9c.png)

[2019-05-25 09:56] mseidl opened #587 "Nethack not found, but is found in download.suse"
![op](https://user-images.githubusercontent.com/729087/58367826-14e97c00-7ee4-11e9-8fe6-d656dc48be9c.png)

[2019-05-25 09:56] mseidl opened #588 "Nethack not found, but is found in download.suse"
![op](https://user-images.githubusercontent.com/729087/58367826-14e97c00-7ee4-11e9-8fe6-d656dc48be9c.png)

[2019-05-25 09:56] mseidl opened #589 "Nethack not found, but is found on download...."
![op](https://user-images.githubusercontent.com/729087/58367826-14e97c00-7ee4-11e9-8fe6-d656dc48be9c.png)

https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=nethack  is the url... but text says not found in opensuse factory also.

[2019-05-25 09:57] #588 closed

[2019-05-25 09:57] #587 closed

[2019-05-25 09:57] #586 closed

[2019-05-25 09:59] alexandergraul opened #590 "New Searching approach"
Some ideas:

- index download.opensuse.org
  - elastic or sphinx
  - sponsored by elastic org
- libzypp server side

[2019-05-25 10:05] Ana06 commented on #567
@mkvasnicka I am not sure if I understand what you mean, can you please provide more information? (link, screenshot are appreciated)

[2019-05-25 10:05] alexandergraul opened #591 "Social user to user support"
- Comments
- Ratings
- Embed forums
- Link to IRC channels
- Link to maintainers
- Link to bug report
- open desktop ratings

Other software portals like GNOME Software already have things like this implemented, we should take inspirations from them.

[2019-05-25 10:07] alexandergraul opened #592 "Enhance contributing.md"
Include link to weblate for people who want help with translations.

Render Contributing.md on software.opensuse.org.

[2019-05-25 19:54] hellcp commented on #591
https://odrs.gnome.org/ for details about open desktop ratings, while we are at appstream support with this, maybe we could also pull in some more info from appstream that could be potentially useful, bug report links are supported by the standard via [url tag](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-url) bugtracker type, homepage could be useful for some details

[2019-05-25 20:01] hellcp commented on #591
As for embedding forums, I completely ignored you when you asked about it during the discussion, but there are some very distant plans for discourse as a forum replacement. It's a lot of work for the community at large and heroes especially and won't be likely to arrive soon, but it will enable us to embed simple js comment section like threads from forum, which will be based on openSUSE login.

[2019-05-26 08:42] arnoldix opened #594 "rtl8812au"
Link:
https://software.opensuse.org/package/rtl8812au
Installation does work, but no effect - wifi adapter not recognized; wlan0 not present

cloning the repro https://github.com/gordboy/rtl8812au and running make returns

/root/rtl/rtl8812au/os_dep/linux/os_intfs.c:1422:22: error: initialization from incompatible pointer type [-Werror=incompatible-pointer-types]
  .ndo_select_queue = rtw_select_q

[2019-05-26 16:24] coolo commented on #594
this is the tracker for the application hosting software.opensuse.org - if you have a problem with a downloaded package, please use bugzilla (or even github issues of the repo you cloned)

[2019-05-26 16:24] #594 closed

[2019-05-29 18:53] Davidmp1 opened #596 "Software page error navigating in Catalan"
When navigating beyond (and from) the landing page selecting the
catalan language, an error message appears:

(<unknown>): mapping values are not allowed in this context at line 1 column 21

See, for instance, the catalan version for the following page, and then change it to any other language:

https://software.opensuse.org/distributions/leap

Is this due to a bad translated string or is it the p

[2019-05-31 14:17] alexandergraul commented on #591
Embedding forums, either the current one or discourse, would at least help with the moderation requirements for a comment section. We will need some way to delete comments and that should only be done by humans. If the content was part of the forums, the moderation infrastructure would already be in place.

[2019-05-31 14:20] alexandergraul commented on #589
Clicking on the URL works for me.

The text you see and the search result fit together - but the distribution filter you selected does not. When you change to 'ALL Distributions', it should not search for openSUSE:Factory. This text suggest that it did. That needs investigation.

[2019-05-31 15:03] alexandergraul opened #599 "software-o-o has no license"
I just realized now that this project does not have a license.

https://github.com/openSUSE/opensuse-theme-chameleon is published under GPLv3, we could use the same to be fully license compatible. I don't think we require this, since both are openSUSE projects and I guess one openSUSE project could _just_ grant another openSUSE project to needed rights. I don't know how exactly that would work in

[2019-05-31 15:22] alexandergraul commented on #599
The [rpm](https://build.opensuse.org/package/view_file/openSUSE:infrastructure:software.opensuse.org/software_opensuse_org/software_opensuse_org.spec?expand=1) we build in OBS says the license is GPL-2.0. Maybe we should just add that here as well?

[2019-05-31 17:21] Ana06 commented on #599
@alexandergraul you can not just add a license to a project with 91 contributors even if the maintainers agree to it. You need that every single contributor to the project agree with that. If one single person doesn't want (or you are not able to reach him), you can not do it without ensuring that all his contributions are removed from the project first. I would also like to have an open source li

[2019-05-31 17:53] coolo commented on #599
Erase all the translation commits from the story and everyone who works for SUSE - and then everyone who contributed minor things not worth copyrights.

Leaves (next to errors of mine) @guoyunhe as one to ask.

And then there is the question under what license people *thought* they contributed. Because without a license it's a SUSE project without any rights. Taking that software.oo shared a lot o

[2019-06-02 13:18] probonopd commented on #171
cc @darix

[2019-06-02 13:25] guoyunhe commented on #599
Maybe just pick the same license as OBS (GPLv2). If someone will fork/host it, they may use it with OBS together.

[2019-06-03 12:25] ikapelyukhin commented on #599
Leave the current stuff behind as is (some of the code didn't age well) and create software-o-o v2.0 with a proper license :-)

[2019-06-04 10:40] alexandergraul commented on #599
Don't they require some kind of license as well? I don't know if they should be licensed under a code license, but some kind of CC license?

Is it really that easy? I don't think SUSE employees have a problem with adding a GPL-2.0 license, but if they also contributed in their free time with their private email address, don't we have to ask them?

I don't think that is true since part of the code

[2019-06-04 11:33] coolo commented on #599
The only license that really matters is in the files - and the POT file they edited says 'has the license of the software containing it'. Unless they relicensed (from what license?) that's it.

Don't make a drama out of it, the lack of license file is obviously just an oversight. Noone in her sane mind would consider software-o-o to be closed source just because it doesn't say explicitly which lic

[2019-06-12 09:07] JulioCartaya opened #604 "Caffeine for Open SuSE Leap 15.1 fails"
Does not show in Launch menu. When started from command line it produces warnings, and sits without displaying the "cup" icon, or inhibiting the screensaver:

~> caffeine

(caffeine:25842): Gtk-WARNING **: Theme parsing error: gtk.css:68:35: The style property GtkButton:child-displacement-x is deprecated and shouldn't be used anymore. It will be removed in a future version

(caffeine:25842): Gtk-W

[2019-06-12 09:42] coolo commented on #604
This is just the software hosting software.opensuse.org - for problem reports please follow bugs.opensuse.org

[2019-06-12 09:42] #604 closed

[2019-06-19 09:37] mgrep opened #606 "ntpsec for opensuse"
After installing ntpsec you have to manually edit the following file.
`/usr/lib/systemd/system/ntpd.service `

Had to change:
ExecStart=/usr/ssbin/ntpd -g -N -u ntp:ntp
To:
ExecStart=/usr/sbin/ntpd -g -N -u ntp:ntp Than reload systemctl daemon:

`sudo systemctl daemon-reload
`
After this you should be able to start ntpsec through:
`sudo systemctl start ntpd`

If this is not the right place to repo

[2019-06-19 12:41] hennevogel commented on #606
-> https://en.opensuse.org/openSUSE:Submitting_bug_reports

[2019-06-19 12:41] #606 closed

[2019-06-19 13:31] mgrep commented on #606
Found it and I think I did it correct now.

https://bugzilla.opensuse.org/show_bug.cgi?id=1138728

[2019-06-19 23:18] cybervigilante opened #607 "libunarr dependency not satisfied"
libunarr dependency not satisfied

[2019-06-20 09:42] mimi1vx commented on #607
this project is WWW  site to find packages.

if you found a bug in openSUSE --> https://bugzilla.opensuse.org
with relevant info like the version of distribution and enabled repositories

[2019-06-20 09:42] #607 closed

[2019-06-21 16:02] hardcode57 opened #609 "Error in search results"
Search for 'zfs'. Presented with only one:lzfse . Shows same page as https://software.opensuse.org/package/lzfse

Google search for zfs opensuse gives me what I was obviously after: https://software.opensuse.org/package/zfs

[2019-06-23 16:30] #599 closed

[2019-06-24 12:47] DanielNoga opened #611 "Page responds with 504 error"
I tried to find Java 12 package with https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=java+12 . Site is very slow and with that request it responds 504
![Screenshot_20190624_144724](https://user-images.githubusercontent.com/2734126/60019802-0337f780-968f-11e9-86a9-6006999bdaed.png)

[2019-06-24 19:29] Woebbeking opened #612 "firefox"

[2019-06-24 19:29] #612 closed

[2019-06-25 02:07] linuqpada opened #613 "Piwigo support in darktable 2.6.2 for debian 9.0 is missing"
The export support for piwigo is missing in the last stable version for debian 9.0
darktable_2.6.2-1.1_amd64.deb

[2019-06-26 19:34] smartin41 opened #614 "repos metadata for ZFS not valid"
Trying to add a ZFS repos for OpenSuse Leap 42.3, but get an error when use URI pointed to on this page:
[https://software.opensuse.org/download.html?project=filesystems&package=zfs](https://software.opensuse.org/download.html?project=filesystems&package=zfs)

Error message is that valid metadata not found.

[2019-06-27 13:25] alexandergraul commented on #605
Right now there is no direct link from /package/xpra to https://software.opensuse.org//download.html?project=openSUSE%3AFactory&package=xpra, which would solve this issue if I got the description correctly. That issue is tracked in https://github.com/openSUSE/software-o-o/issues/372.

[2019-06-27 13:25] #605 closed

[2019-06-27 13:29] alexandergraul commented on #609
This is what I get:
![Screenshot_20190627_152636](https://user-images.githubusercontent.com/19352524/60270120-067dee00-98f0-11e9-85fc-64687434769c.png)

If you had a distribution filter (e.g. Leap), then you would not get zfs as a result because the package zfs is not part of the official repositories.

[2019-06-27 13:29] #609 closed

[2019-06-27 13:33] alexandergraul commented on #614
What exactly did you do and what was the output (of which program?) ?

As far as software.opensuse.org is concerned, if the displayed URL has the foo.repo file, in your case https://download.opensuse.org/repositories/filesystems/openSUSE_Leap_42.3/filesystems.repo, this is not the right place for the issue.

[2019-07-07 23:37] jdemattos opened #620 "JeOS download HyperV links broken"
Page link: https://software.opensuse.org/distributions/leap/15_1

![image](https://user-images.githubusercontent.com/5678499/60775256-376ed780-a0d5-11e9-9786-025c781e3ad6.png)

Example link: https://download.opensuse.org/distribution/leap/15.1/jeos/openSUSE-Leap-15.1-JeOS.x86_64-15.1.0-MS-HyperV-Current.vhdx

When browsing the [parent directory](https://download.opensuse.org/distribution/leap/15.1

[2019-07-09 06:20] #218 closed

[2019-07-09 10:19] MichaelClerx opened #621 "Manual installation options for sundials package are wrong"
These instructions: https://software.opensuse.org//download.html?project=science&package=sundials

end with `zypper install sundials`

which rightly complains because `sundials` is not an available package. Should probably be e.g. `zypper install libsundials-devel`

[2019-07-11 14:43] alexandergraul opened #623 "Exception in rescue block in search controller"
The application throws
[code]

Context:
[code]

[2019-07-12 15:36] alexandergraul commented on #611
The way the webapp is currently designed, that is "relay all the searches to OBS via HTTP and parse + render the results", the response time is pretty bad for searches that are not cached. This is one of the reasons https://github.com/openSUSE/software-o-o/issues/590 exists.

[2019-07-12 16:11] #620 closed

[2019-07-12 16:17] alexandergraul commented on #326
There was an outage today and @bear454 rightfully mentioned that status.o.o was incorrectly reporting that everything was fine. IIRC @dmacvicar has a pingdom setup already, what is missing to automatically update status.o.o ?

[2019-07-19 12:06] wfeldt opened #629 "no sle12 based builds shown"
s.o.o doesn't show SLE-12 based builds. Or at least not in a way a sane being understands.

For example https://software.opensuse.org/package/checkmedia shows sle15, sle15-sp1, and even sle11-sp4 (!). But sle12 builds come up under 'unsupported' as 'Module-Adv-Systems-Management'. And sle12-sp4 is missing **entirely** (or at least I couldn't find it).

Could that be fixed?

[2019-07-21 21:01] sknorr opened #631 "All ISOs are shown to be "0 Bytes" large on the page"
Looking at e.g. https://software.opensuse.org/distributions/tumbleweed (same issue for Leap), all distribution ISOs are currently shown to be 0 Bytes large.

[2019-07-21 23:25] alexandergraul commented on #631
Yes, after deploying https://github.com/openSUSE/software-o-o/pull/532 and later on https://github.com/openSUSE/software-o-o/pull/624, the site did not load completely and kept sending HTTP requests that timed out. To get the site to respond again, I added a temporary fix that bypasses fetching the sizes and returns 0B instead. Once I am back from vacation I'll take another look.

[2019-07-29 09:20] Frank-Steiner opened #636 "Search function not working"
Hi,
during the last weeks I often search for packages that can't be found. I get a "No packages found matching your search." result. Googling for the package name and "opensuse" I get the matching software.opensuse.org/package URL.
E.g. [https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=qt3-devel-tools](https://software.opensuse.org/search?utf8=%E2%9C%93&baseproject=ALL&q=qt3-d

[2019-07-29 09:52] georgzimmermann opened #637 "nedit Problem: Ctrl-V is double-pasting"
Dear colleagues,

after installing openSuSE Leap 15.1,
I had the following problem: I had installed
   nedit 5.7-lp151.2.3-x86_64  ,
and pasting via Ctrl-V pasted everything twice.
Replacing the rpm by the old version
   nedit 5.5-16.el5-x86_64
let the problem disappear.

A quick internet search showed that this problem was reported before in 2014,
but for a different version, see:
   https://gith

[2019-07-29 14:25] hennevogel commented on #637
This is the github repo of the application that provides the software.opensuse.org web page, not the bug tracker for packages you find on there.

Please use Bugzilla  -> https://en.opensuse.org/openSUSE:Submitting_bug_reports

[2019-07-29 14:25] #637 closed

[2019-07-30 14:55] pmckeithSUSE commented on #636
Today I found the same problem. Here is another example searching for ossec does not work but is easily found by google, duckduckgo, and bing:
https://software.opensuse.org/package/ossec-hids

[2019-08-01 15:26] alexandergraul commented on #636
Both examples work for me. Are you sure you search "All Distributions"? There have been problems with the distribution not being set correctly (e.g. https://github.com/openSUSE/software-o-o/issues/589), but the search does find the packages.

[2019-08-01 15:26] #636 closed

[2019-08-01 15:27] #631 closed

[2019-08-01 16:15] Frank-Steiner commented on #636
It works for you and therefore the problem doesn't exist and you close the SR?  I am searching for all distributions, take a look: [https://www.bio.ifi.lmu.de/~steiner/search.jpg](https://www.bio.ifi.lmu.de/~steiner/search.jpg)
But the package isn't found either when I search e.g. for leap 15.0 although the package does exist. There must be a reason it fails. Just ignoring other peoples problems b

[2019-08-01 17:11] pmckeithSUSE commented on #636
There is still a problem for me and I can duplicate the search that Frank-Steiner posted.

I tried again searching for "ossec" or "ossec-hids" and again it fails.
I confirm that "ALL Distributions" is selected.
My tests all fail:
- "ossec" or "ossec-hids" using Firefox and chrome on Win 10
- "ossec" or "ossec-hids" using safari and chrome on iOS
- "qt3-devel-tools" using Firefox and chrome on Win

[2019-08-02 10:15] tumic0 opened #639 "OBS does not create propper links and copy repos to software.opensuse.org"
The "Download package" link on my OBS [QtPBFImagePlugin](https://build.opensuse.org/package/show/home:tumic:QtPBFImagePlugin/QtPBFImagePlugin) project leads to a page on software.opensuse.org that states, that there are no data for download. But all the packages were successfully built and are accessible using the OBS build results links.

More info in the original openSUSE/open-build-service#7804

[2019-08-02 13:33] #565 closed

[2019-08-02 15:10] alexandergraul commented on #590
Another option is to hook into Mirrorbrains' database to get the information on available rpms.

[2019-08-04 19:03] probonopd opened #640 "Redirects from HTTPS to HTTP, breaks AppImageUpdate"
HTTPS links get redirected to HTTP as can be seen here:

[code]

As a result, AppImageUpdate does not work anymore.

This used to work; so I suspect it to be a bug that was recently introduced.

Reference:
https://github.com/CelestiaProject/Celestia/issues/333

[2019-08-05 11:05] Frank-Steiner commented on #636
Starting FF in safe mode made the search  work, even after restarting FF in normal mode. But the next day, it's failing again.

[2019-08-05 11:25] alexandergraul commented on #636
I closed this issue since your problem is already tracked in the issue I linked. I should have made it more clear that moving over there would have been better.
There are also multiple issues about search not working properly ([list](https://github.com/openSUSE/software-o-o/issues?q=is%3Aopen+is%3Aissue+label%3A%22Search+%3Amag%3A%22)), so opening yet another one just splits it up in too many thre

[2019-08-05 11:48] alexandergraul commented on #640
I don't think this is something software.o.o can handle, isn't this done by https://github.com/openSUSE/download.o.o ?

[2019-08-05 14:25] Frank-Steiner commented on #636
Alexander Graul wrote:

Ah, ok, sorry, I didn't get that :-)

Not really sure what to do exactly... When I submit the search I
can see 4 GET calls in the network window, one for the real call
and the other 3 for a style sheet, a js script and the fav icon.
For the call, I can see the request+response headers and the cookies,
are those what you mean by request object?
Otherwise please let me know w

[2019-08-05 14:30] pmckeithSUSE commented on #589
I noticed something that might help. This appears to be session related.
I have a Firefox "private mode" session where search is working fine. I find both nethack and osssec doing a search with All-Distributions:
![image](https://user-images.githubusercontent.com/52460054/62463002-e1826380-b756-11e9-8247-629f718ca5fd.png)

Yet if I copy and paste that same URL to a "non-private" Firefox session it

[2019-08-05 14:42] pmckeithSUSE commented on #589
Cookie problem? Compare the cookies in my two sessions:

Working:
![image](https://user-images.githubusercontent.com/52460054/62472689-45b02200-b76d-11e9-802d-66f0fb5a9f1d.png)

Not Working:
![image](https://user-images.githubusercontent.com/52460054/62472738-5e203c80-b76d-11e9-9e02-da387c177d7c.png)

[2019-08-05 14:47] pmckeithSUSE commented on #636
I added more comments and observations to [#589](https://github.com/openSUSE/software-o-o/issues/589)

[2019-08-05 17:39] probonopd commented on #640
You are probably right, sorry for the noise. Opened https://github.com/openSUSE/download.o.o/issues/26 there. Closing here.

[2019-08-05 17:39] #640 closed

[2019-08-06 00:49] pmckeithSUSE commented on #589
Toggling "All Distributions" is a workaround that worked for me.

First search attempt is missing the baseproject cookie completely
![image](https://user-images.githubusercontent.com/52460054/62503362-d44e8e80-b7c1-11e9-8706-973b6c8b3c4c.png)

Second search after selecting "openSUSE Tumbleweed" from the form establishes the baseproject cookie and sets it to openSUSE:Factory
![image](https://user-i